<template>
  <div class="mypage_wrapper inner_wrapper">
    <main class="l-content" role="main">
      <div class="l-content__inner">
        <div class="l-contentBody">
          <p class="m-txtWithdrawal">
            <em>ありがとうございました</em>
          </p>

          <p class="m-txtL">{{ user.name }}</p>

          <p class="m-txtL">
            これまでLENSをご利用頂き誠にありがとうございました。またのご利用をお待ち申し上げております。
            <br />これからもLENSをよろしくお願いします。
          </p>

          <hr class="m-line" />

          <p class="m-txtL">レンズ株式会社</p>

          <p class="m-txt" data-margin="s">
            営業時間：月〜金（土日祝日休み）/ 10時〜18時
            <br />
            <a href="mailto:info@lens.co.jp" class="m-linkLine">info@lens.co.jp</a> /
            <a href="tel:0120885445" class="m-linkLine">0120-885-445</a>
          </p>
          <!-- /.l-contentBody -->
        </div>
        <!-- /.l-content__inner -->
      </div>
      <!-- /.l-content -->
    </main>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  layout: 'no-menu-header', 
  computed: { 
    ...mapGetters( {
      user: 'user/getUser',  
      isSuccess: 'user/isSuccess',   
    } ),
  }, 
  beforeMount() {
    if(this.isSuccess === false){
      this.$router.push('/mypage/leave');
    }
  },
  
}
</script>

<style lang="scss" scoped>
.inner_wrapper {
  font-size: 14px;
}
ul {
  padding: 0;
}
</style>
