<template>
  <div class="mypage_wrapper inner_wrapper">    
		<form action="dummy" method="post" class="js-form" @submit.prevent="submitleaveUser">
				<main class="l-content" role="main">
					<div class="l-content__inner">
						<div class="l-contentBody">
							<div class="m-hdg1">
								<h1 class="m-hdg1__hdg">サービスの解約について</h1>
								<!-- /.m-hdg1 -->
							</div>
							<p class="m-txt">サービスを解約するには、以下の注意書きをよくお読みの上解約理由を選んだ上、「解約する」ボタンを押してください。</p>
							<ul class="m-listAlert">
								<li>お届け日の変更期限を超えたご注文分はお届けとご請求をさせて頂きます。</li>
								<li>友人招待割引はすべて無効になりますのでご了承ください。なお、招待されたご友人の割引はお客様の解約後も適用されますのでご安心ください。</li>
								<li>ご登録頂いたIDとパスワードは無効になります。</li>
								<!-- /.m-listAlert -->
							</ul>
							<ul class="m-listForm">
								<li>
									<label for="formWithdrawal" class="m-frmLabel">解約理由を記入
										<strong>（必須）</strong>
									</label>
									<div class="m-frmTextarea">
										<textarea id="formWithdrawal" placeholder="解約理由を記入してください" v-model="formData.reason"></textarea>
										<!-- /.m-frmTextarea -->
									</div>
								</li>
								<!-- /.m-listForm -->
							</ul>
							<ul class="m-listBtn">
								<li>
									<button type="submit" class="m-btn" data-color="red" :disabled="isButtondisable()">
										<span>解約する</span>
									</button>
								</li>
								<!-- /.m-listBtn -->
							</ul>
							<!-- /.l-contentBody -->
						</div>
						<!-- /.l-content__inner -->
					</div>
					<!-- /.l-content -->
				</main>
			</form>
		<!-- /.l-contentBody -->
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  layout: 'menu-header',
  data() {
    return {      
        formData:{
          reason: '',
        },     
    }
  },
  mounted() {
    this.fetchUser();
  },
  methods: {
    submitleaveUser() {
     // var ddd = confirm("Want to delete?");
      if(confirm("本当に解約を希望されますか？")){
        this.leaveUser(this.formData)
      }
      
    },    
    isButtondisable(){     
		// return this.formData.reason == '' ||  this.isInProgress === true && this.isError === false;
		 if(this.formData.reason == ''){
			 return true;
		 }
		 else if(this.isInProgress === true){
			return true;
		 }
		 else if(this.isError === true){
			return false;
		 }
		 else{
			 return false;
		 }
    },
   ...mapActions({
     fetchUser: 'user/fetchUser',
     leaveUser: 'user/leaveUser',
     softLogout: 'softLogout',
     logout: 'logout',
    }),
   
  },
  computed: { 
    ...mapGetters({
      user: 'user/getUser',
      isInProgress: 'user/isInProgress',
      isError: 'user/isError',
      isSuccess: 'user/isSuccess',
      responseStatusCode: 'user/responseStatusCode',
    }),
  },
  watch:{
    user(to) {
      this.formData.email = to.email;
    },
    isSuccess(status){
      if(status){
        this.softLogout();
        this.$router.push('/mypage/leave/comp');
        
      }
    },
    'responseStatusCode': function(){
      if (this.responseStatusCode == 401) this.logout(true)
    },
  }
}
</script>

<style lang="scss" scoped>
.inner_wrapper {
  font-size: 14px;
.m-txt {    
    color: #6d6d6d;
}
}
ul {
  padding: 0;
}
.m-txtWithdrawal + * {
  margin-top: 20px !important;
}
.m-txtWithdrawal em {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2;
  color: #3fb8ec;
  display: block;
}
strong {
    color: #d30f0f;
}

.m-frmLabel {   
    font-weight: bold;   
}

.m-frmLabel+* {
    margin-top: 12px !important
}

.m-frmTextarea {
    margin: 8px 0 0
}

.m-frmTextarea textarea {
    width: 100%;
    min-height: 240px;
    padding: 15px;
    font-size: 1.8rem;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #a9c5d3;
    background: #fff
}
</style>
