<template>
  <section class="section s03" id="s03">
    <strong>よくある質問</strong>
    <Toggles
      :items="[
      {
        question: 'アプリのダウンロードは無料ですか？',
        answer: 'アプリのダウンロードは無料で、費用は一切かかりません。ダウンロード後のお試し注文や定期購入時に商品代金がかかります。'
      },
      {
        question: '処方箋がなくても購入できますか？',
        answer: 'ご購入時に当社に処方箋をご提示いただくことはございません。なお、コンタクトレンズは高度管理医療機器です。事前に眼科医に検査・処方を受け、よくご相談のうえお求めください。'
      },
      {
        question: '送料はかかりますか？',
        answer: '当サービスの料金はすべて送料込となっており、別途かかる費用は一切ありません。'
      },
      {
        question: '支払い方法を教えてください。',
        answer: 'お支払はクレジットカード払いのみとなっております。一度ご登録頂くと定期的に出荷後、ご登録カードにご請求いたします。'
      },
      {
        question: '配送日時の指定や変更はできますか？',
        answer: 'アプリからポストにお届けするお日にちを変更することが可能です。'
      }
    ]"
    />
  </section>
</template>

<style lang="scss" scoped>
.s03 {
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ Pro W3',
    'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
  padding-top: 50px;

  @include more-than--sp {
    padding-top: 75px;
  }

  @include less-than--sp {
    margin-bottom: 12%;
  }

  strong {
    display: block;
    text-align: center;
    font-size: 30px;
    letter-spacing: 6px;
    font-weight: 400;
    margin-bottom: 42px;
    font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴ Pro W3',
      'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;

    @include less-than--sp {
      font-size: 20px;
      letter-spacing: 2px;
      margin-bottom: 40px;
    }
  }
}
</style>

<script>
import Toggles from '~/components/Toggles.vue'

export default {
  components: {
    Toggles
  }
}
</script>