<template>
  <footer class="footer">
    <div class="footer_inner">
      <div class="footer_menu_list">
        <p class="footer_logo">
          <a href="/">
            <img src="~assets/images/logo.png" alt="LENS" />
          </a>
        </p>
        <ul class="footer_menu">
          <li>
            <nuxt-link to="/agreement">利用規約</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/policy">プライバシーポリシー</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/law">特定商取引に関する表記</nuxt-link>
          </li>
          <li>
            <a href="mailto:info@lens.co.jp" class="link">お問い合わせ</a>
          </li>
          <li>
            <nuxt-link to="/company">運営会社</nuxt-link>
          </li>
        </ul>
      </div>
      <br />
      <div class="text-center">医療機器承認番号：22700BZX00120A07</div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
.footer {
  background-color: #f4f4f4;

  @include more-than--sp {
    margin-top: 100px;
    padding: 75px 0 60px;
  }
  @include less-than--sp {
    padding: 40px 0 30px;
  }

  .footer_inner {
    margin: 0 auto;

    @include more-than--sp {
      max-width: 886px;
    }
    @include less-than--sp {
      width: 84%;
    }

    .footer_menu_list {
      *zoom: 1;

      @include more-than--sp {
        .footer_logo {
          width: 86px;
          float: left;
          margin-right: 80px;
        }
      }
      @include less-than--sp {
        width: 100px;
        margin: 0 auto;

        .footer_logo {
          width: 100px;
          margin: 0 auto;
        }
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }

      .footer_menu {
        font-size: 0;
        padding: 0;
        list-style: none;

        @include more-than--sp {
          width: 720px;
          float: left;
        }
        @include less-than--sp {
          margin-top: 16px;
        }

        li {
          font-size: 16px;

          @include more-than--sp {
            display: inline-block;
            white-space: nowrap;
            margin-right: 40px;
          }
          @include less-than--sp {
            text-align: center;
            line-height: 1;
            padding-top: 26px;
          }

          &:last-child {
            @include more-than--sp {
              margin-right: 0;
            }
          }

          a {
            text-decoration: none;
            color: #000000;
          }
        }
      }
    }
  }

  .text-center {
    font-size: 16px;
    padding-bottom: 50px;

    @include more-than--sp {
      font-size: 18px;
    }
    @include less-than--sp {
      padding-bottom: 50px;
    }
  }
}
</style>