<template>
  <header class="header">
    <div class="header_inner">
      <div class="header_text">
        <h1><img src="~assets/images/logo.png" /></h1>
        <p class="header_catch">登録1分、それだけ。</p>
        <p class="header_lead">1DAYコンタクト定期便</p>
      </div>
    </div>
  </header>
</template>

<style lang="scss" scoped>
.header {
  width: 100%;
  min-height: 530px;
  background: url(~assets/images/mainimg_sp.jpg) center 0 no-repeat;
  background-size: cover;

  @include more-than--sp {
    background-image: url(~assets/images/mainimg.jpg);
    height: 635px;
    margin: 0 auto;
    min-height: auto;
  }
  .header_inner {
    width: 90%;
    margin: 0 auto;
    position: relative;

    @include more-than--sp {
      width: 1088px;
      vertical-align: middle;
      box-sizing: border-box;
    }

    .header_text {
      min-height: 80vh;
      @include more-than--sp {
        padding-top: 159px;
        min-height: auto;
      }
    }

    h1 {
      display: none;
      width: 239px;

      @include more-than--sp {
        display: block;
      }
    }

    .header_catch,
    .header_lead {
      line-height: 1;
      font-weight: 600;
      margin: 0;
    }

    .header_catch {
      font-size: 43px;
      padding-top: 58px;
      display: none;

      @include more-than--sp {
        display: block;
      }
    }

    .header_lead {
      font-size: 34px;
      padding-top: 18px;
      margin: 0;
      display: none;

      @include more-than--sp {
        display: block;
      }
    }
  }
}
</style>