<template>
  <section class="section s02" id="s02">
    <h2 class="ttl">
      初回30日分が500円<br>今すぐお試しを
    </h2>
    <p class="lead">LENSの品質と利便性をたった500円でお試し可能。まずはさっそくお試しください。</p>
    <ul class="button_list">
      <li>
        <nuxt-link to="/order" class="button"><span>お試し購入する</span></nuxt-link>
        <div class="link"><nuxt-link to="/login" class="m-link">ログインはこちら</nuxt-link></div>
      </li>
    </ul>
    <div class="box_gray">
      <div class="products">

        <div class="product">
          <figure class="product_img">
            <img src="~assets/images/s02_img_01.png" alt="LENS 1DAY お試し30日セット">
          </figure>
          <div class="product_info">
            <h3 class="product_ttl">LENS 1DAY <br>お試し30日セット</h3>
            <div class="product_detail">
              <dl class="product_detail_row em_row">
                <dt>価格</dt>
                <dd><span class="em">500</span>円<span class="note">(送料・税込み)</span></dd>
              </dl>
              <dl class="product_detail_row em_row">
                <dt>内容</dt>
                <dd><span class="em">30</span>枚入 <span class="mp">×</span>
                  <span class="em">2</span>箱
                  <span class="note">（両目分）</span></dd>
              </dl>
              <dl class="product_detail_row defaul_row">
                <dt class="va_t">レンズ仕様</dt>
                <dd class="fz_small">度数：-0.50 ～ -10.00 / BC(ベースカーブ)：8.80mm / DIA(直径)：14.0mm<br>含水率：38％ / Dk値 酸素透過係数：8.5 / 保水成分：高分子成分MPCポリマーを配合</dd>
              </dl>
            </div>
            <div class="product_detail">
            <dl class="product_detail_row note_row">
              <dt>処方箋について</dt>
              <dd>ご購入時に当社に処方箋をご提示いただくことはございません。コンタクトレンズは高度管理医療機器です。事前に眼科医に検査・処方を受け、よくご相談のうえお求めください。</dd>
            </dl>
            </div>
          </div>
        </div>

        <div class="product teiki">
          <figure class="product_img">
            <img src="~assets/images/s02_img_02.png" alt="LENSの定期配送サービス">
          </figure>
          <div class="product_info">
            <h3 class="product_ttl">LENSの定期配送サービス</h3>
            <p class="product_txt">お試し購入後、停止がなければ定期配送サービスが開始されます。<br>60日ごとに4箱を6,960円（送料・税込）をお届けします。</p>
            <p class="product_catch">両目30日分 3,480円<br>60日ごとにお届け</p>
            <p class="product_note">※送料・税込の価格です<br>
              ※お届け日の変更・停止は可能です<br>※お試し購入後、お客様による停止操作がなければ自動的に定期配送サービスが開始されます</p>
          </div>
        </div>

      </div>
    </div>

    <div class="banner">
      <p class="img_pc"><img src="~assets/images/bnr_01_pc.jpg" alt=""></p>
      <p class="img_sp"><img src="~assets/images/bnr_01_sp.jpg" alt=""></p>
    </div>
  </section>
</template>
<style lang="scss" scoped>
.s02 {
  padding-top: 53px;
  margin-top: 56px;
  border-top: 1px solid #efefef;

  @include more-than--sp {
    margin-top: 73px;
    padding-top: 75px;

    .ttl {
      font-size: 36px;
      line-height: 1.47222222222;
    }

    .lead {
      margin-top: 22px;
    }
  }

  .box_gray {
    padding-bottom: 25px;
    margin-top: 19px;
    background-color: #f4f4f4;

    @include more-than--sp {
      padding: 40px 0;
      margin-top: 74px;
    }
  }

  .product {
    background-color: #fff;
    *zoom: 1;
    padding-bottom: 25px;

    @include more-than--sp {
      width: 93.75%;
      max-width: 1200px;
      margin: 40px auto 0;
      padding-bottom: 0;

      &:first-child {
        margin-top: 0;
      }
    }

    @include less-than--sp {
      &.teiki {
        margin: 20px 20px 0;
        .product_ttl {
          line-height: 1 !important;
        }
      }
    }

    .product_img {
      margin: 0;
      @include more-than--sp {
        float: left;
        width: 37.333333333%;

        img {
          vertical-align: bottom;
        }
      }
    }
    

    &::after {
      content: "";
      display: block;
      clear: both;
    }

    .product_info {
      width: 84%;
      margin: 0 auto;
      .product_ttl {
        font-weight: 600;

        @include more-than--sp {
          font-size: 28px;
          line-height: 1;

          br {
            display: none;
          }
        }

        @include less-than--sp {
          font-size: 22px;
          text-align: center;
          margin-top: 28px;
          line-height: 1.36363636364;
        }
      }

      .product_detail {
        width: 100%;
        display: table;
        border-collapse: collapse;

        @include more-than--sp {
          margin-top: 36px;
        }

        &:last-child {
          margin-top: 6px;

          @include more-than--sp {
            dt,
            dd {
              padding-top: 0;
            }
          }
        }

        .product_detail_row {
          display: table-row;

          dt,
          dd {
            display: table-cell;
            vertical-align: middle;

            @include more-than--sp {
              padding: 11px 26px 9px 0;
            }

            @include less-than--sp {
              padding-top: 25px;
            }
          }

          dt {
            font-size: 15px;
            white-space: nowrap;

            @include more-than--sp {
              font-weight: 600;
              padding-right: 32px;
            }

            @include less-than--sp {
              font-weight: 300;
              padding-right: 33px;
            }
          }

          dd {
            font-size: 16px;
            font-weight: 300;
          }

          .em {
            color: $brand_color2;
            font-size: 40px;
            font-weight: bold;
            font-family: Arial;
          }

          .note {
            font-size: 14px;
            color: #999;
            white-space: nowrap;
          }

          .mp {
            vertical-align: super;
            font-size: 20px;
            font-family: Arial;
            margin: 0 5px;
          }

          .va_t {
            vertical-align: top;
          }

          .fz_small {
            font-size: 14px;
            line-height: 1.57142857143;
          }

          &.em_row {
            line-height: 1 !important;
          }

          &.note_row {
            @include more-than--sp {
              border-top: 1px solid #efefef;
              margin-top: 20px !important;
            }

            @include less-than--sp {
              display: block;
              margin-top: 30px;
            }
            dt,
            dd {
              vertical-align: top;
              font-size: 13px;
              color: #666;

              @include more-than--sp {
                padding-top: 14px;
              }
              @include less-than--sp {
                display: block;
                padding: 0;
              }
            }

            dt {
              @include more-than--sp {
                padding-right: 16px;
              }
              @include less-than--sp {
                font-weight: 500;
              }
            }
          }
        }
      }

      @include more-than--sp {
        width: 62.5%;
        float: right;
        box-sizing: border-box;
        padding: 40px 20px 0 38px;
        margin: 0;
      }
    }

    .btn_purchase {
      text-align: right;

      a {
        color: $brand_color2;
      }
    }

    .product_catch {
      font-weight: 600;
      color: $brand_color2;

      @include more-than--sp {
        font-size: 24px;
      margin-top: 25px;
      line-height: 1.41666666667;
      }

      @include less-than--sp {
        font-size: 20px;
        text-align: center;
        margin-top: 18px;
      }
    }

    .product_note {
      font-size: 14px;
      line-height: 1.42857142857;
      color: #666;

      @include more-than--sp {
        margin-top: 28px;
      }

      @include less-than--sp {
        margin-top: 27px;
      }
    }

    .product_txt {
      font-size: 16px;
        line-height: 1.875;
        margin-top: 24px;
      @include more-than--sp {
        font-size: 18px;
        margin-top: 35px;
        line-height: 1.55555555556;
      }
    }
  }

  .banner {
    margin-top: 30px;

    @include more-than--sp {
      margin-top: 80px;
      text-align: center;
    }
  }
}
</style>