<template>
  <section id="s01" class="section s01">
    <h2 class="ttl">いつものレンズ<br />毎回の購入が不要に。</h2>
    <p class="catch">
      返品保証の1DAYレンズ<br />月々3480円<sup>*</sup>で<br />60日ごとにお届け
    </p>
    <p class="lead">
      毎日使うコンタクトレンズをもっと手軽にリーズナブルに安心して購入できるようにするために<br />LENSは生まれました。コンタクトレンズのまったく新しい購入方法を体験してください。
    </p>
    <ul class="button_list">
      <li>
        <nuxt-link to="/order" class="button"><span>お試し購入する</span></nuxt-link>
        <div class="link"><nuxt-link to="/login" class="m-link">ログインはこちら</nuxt-link></div>
      </li>
    </ul>
    <div class="layout">
      <div class="three_column_pc">
        <feature title="年産1億枚<br />返品保証のレンズ" desc="LENSの製造を委託するのは年間1億枚を製造するコンタクトレンズ製造メーカー。世界各国の承認を取得しグローバルに製品を届ける信頼の工場を、厳選しました。">
          <img src="~assets/images/s01_img_01.jpg" alt="年産1億枚 返品保証のレンズ" />
        </feature>
        <feature title="両目30日分が3480円<br />メーカーダイレクト価格" desc="工場ダイレクトだから驚きの価格を実現。LENSは利便性だけでなく驚きのプライスで毎日のレンズをご提供します。">
          <img src="~assets/images/s01_img_02.jpg" alt="年産1億枚 返品保証のレンズ" />
        </feature>
        <feature title="いつものレンズを<br />自動でお届け" desc="一度登録すれば、いつものレンズをいつもの住所に60日ごとに配送します。なくなる前に確実にお手元にお届けします。">
          <img src="~assets/images/s01_img_03.jpg" alt="年産1億枚 返品保証のレンズ" />
        </feature>
        <feature title="ポスト配送だから<br />不在でもお手元に" desc="商品は頑丈な梱包箱に入れてポストにお届けします。家にいる必要も、再配達の手配の必要もありません。">
          <img src="~assets/images/s01_img_04.jpg" alt="年産1億枚 返品保証のレンズ" />
        </feature>
        <feature title="お届けの変更や停止は<br />一瞬で完了" desc="長期のご不在や、コンタクトレンズが十分に残っている場合、お届け日の変更もアプリでスマートフォンから簡単に。">
          <img src="~assets/images/s01_img_05.jpg" alt="年産1億枚 返品保証のレンズ" />
        </feature>
        <feature title="登録1分、それだけ。<br />驚きの体験をあなたも" desc="いつものレンズをまた買いに行く、再配達の手配をする、安いお店を探す。これまでのコンタクトレンズにまつわるあらゆる不便をLENSの1DAYコンタクト定期便サービスが解消します。">
          <img src="~assets/images/s01_img_06.jpg" alt="年産1億枚 返品保証のレンズ" />
        </feature>
      </div>
    </div>
  </section>
</template>

<style lang="scss" scoped>
.s01 {
  padding-top: 0;
  margin-top: 47px;

  @include more-than--sp {
    margin-top: 13px;
    padding-top: 57px;
  }
}

.layout {
  width: 100%;

  @include more-than--sp {
    width: 93.75%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.three_column_pc {
  display: flex;
  flex-wrap: wrap;

  @include more-than--sp {
    margin: 0 -20px;
  }

  .column {
    flex: 0 0 (100% / 1);
    max-width: (100% / 1);
    margin-top: 53px;

    @include more-than--sp {
      flex: 0 0 (100% / 3);
      max-width: (100% / 3);
      padding: 0 20px;
      padding-top: 76px;
      margin-top: 0;
      line-height: 1.77777777778;
    }
  }
}
</style>

<script>
import Feature from '~/components/Feature.vue'
export default {
  components: {
    Feature,
  }
}
</script>