<template>
  <div class="mypage_wrapper">
    <form action method="post" class="js-form" @submit.prevent="submitMail">
      <main class="l-content" role="main">
        <div class="l-content__inner">
          <div class="l-contentBody">
            <div class="m-hdg1">
              <h1 class="m-hdg1__hdg">メールアドレスの変更</h1>
              <!-- /.m-hdg1 -->
            </div>

            <p class="m-txtComplete" v-if="message">
              <em>変更しました</em>
            </p>

            <p class="m-txt">新しいメールアドレスと確認のためにパスワードを入力してください</p>

            <ul class="m-listForm">
              <li>
                <div class="m-frmTextbox">
                  <input v-model="formData.email" type="text" placeholder="新しいメールアドレス" />
                </div>
              </li>
              <li>
                <div class="m-frmTextbox">
                  <input v-model="formData.password" type="password" placeholder="パスワード（半角英数6〜8文字）" />
                </div>
              </li>
              <!-- /.m-listForm -->
            </ul>

            <ul class="m-listBtn">
              <li>
                <button type="submit" class="m-btn" :disabled="isButtondisable()">
                  <span>変更する</span>
                </button>
              </li>
              <!-- /.m-listBtn -->
            </ul>

            <p class="m-txt" data-align="center">
              <nuxt-link to="/mypage/password_reset" class="m-link">パスワードを忘れた方</nuxt-link>
            </p>

            <ErrorModule :isActive="failedModal" message="ログインに失敗しました" />
            <!-- /.l-contentBody -->
          </div>
          <!-- /.l-content__inner -->
        </div>
        <!-- /.l-content -->
      </main>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ErrorModule from '~/components/ErrorModal'
export default {
  layout: 'menu-header',
  components: {
    ErrorModule
  },
  data() {
    return {
      formData: {
        email: '',
        password: ''
      },
      message: false
    }
  },
  mounted() {
    this.fetchUser()
    this.clearErrorMessage()
  },
  methods: {
    submitMail() {
      this.updateUserMail(this.formData)
    },
    isButtondisable() {
      return (
        this.formData.email === this.user.email ||
        this.formData.password == '' ||
        (this.isInProgress === true && this.isError === false)
      )
    },
    ...mapActions({
      fetchUser: 'user/fetchUser',
      updateUserMail: 'edit_mail/updateUserMail',
      clearErrorMessage: 'edit_mail/clearErrorMessage',
      logout: 'logout',
    })
  },
  computed: {
    failedModal() {
      if (this.isError) {
        return true
      }
    },
    ...mapGetters({
      user: 'user/getUser',
      isInProgress: 'edit_mail/isInProgress',
      isError: 'edit_mail/isError',
      isSucess: 'edit_mail/isSucess',
      responseStatusCode: 'user/responseStatusCode',
    })
  },
  watch: {
    user(to) {
      this.formData.email = to.email
    },
    isSucess(to) {
      this.message = to;
      this.formData.password = '';
      setTimeout(() => this.message = false, 5000);
    },
    'responseStatusCode': function(){
      if (this.responseStatusCode == 401) this.logout(true)
    },
  }
}
</script>

<style lang="scss" scoped></style>
