<template>
  <div class="mypage_wrapper">
    <form action="/" method="post" class="js-form" v-on:submit.prevent="onSubmit">
      <main class="l-content" role="main">
        <div class="l-content__inner">
          <div class="l-contentBody">
            <div class="m-hdg1">
              <h1 class="m-hdg1__hdg">パスワードの変更</h1>
              <!-- /.m-hdg1 -->
            </div>

            <p class="m-txtComplete" v-if="message">
              <em>変更が完了しました</em>
            </p>

            <p class="m-txt" v-if="reset_token">新しいパスワードを入力してください</p>
            <p class="m-txt" v-if="! reset_token">現在のパスワードと新しいパスワードを入力してください</p>

            <ul class="m-listForm">
              <li>
                <div class="m-frmTextbox">
                  <input
                    type="password"
                    :placeholder=" reset_token ? '新しいパスワードを入力してください。' : '現在のパスワード'"
                    v-model="formData.password"
                    :disabled="isInprogress"
                  />
                </div>
              </li>
              <li>
                <div class="m-frmTextbox">
                  <input
                    type="password"
                    :placeholder="reset_token ? '新しいパスワードを再入力してください。' : '新しいパスワード（半角英数6〜8文字）'"
                    v-model="formData.newPassword"
                    :disabled="isInprogress"
                  />
                </div>
              </li>
              <!-- /.m-listForm -->
            </ul>

            <ul class="m-listBtn">
              <li>
                <button type="submit" class="m-btn" :disabled="isDisabled()">
                  <span>変更する</span>
                </button>
              </li>
              <!-- /.m-listBtn -->
            </ul>
            <!-- /.l-contentBody -->
          </div>
          <!-- /.l-content__inner -->
        </div>
        <!-- /.l-content -->
      </main>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  layout: 'menu-header',
  data() {
    return {
      formData: {
        password: '',
        newPassword: ''
      },
      message: false
    }
  },
  mounted() {
    this.fetchUser()
  },
  methods: {
    isDisabled() {
      if (this.reset_token && !this.isLoggedIn) {
        return (
          this.isInprogress ||
          this.formData.password === '' ||
          this.formData.newPassword.length < 6 ||
          this.formData.newPassword.length > 8 ||
          this.formData.newPassword !== this.formData.password
        )
      }
      return (
        this.isInprogress ||
        this.formData.password === '' ||
        this.formData.newPassword.length < 6 ||
        this.formData.newPassword.length > 8
      )
    },
    onSubmit() {
      if (this.reset_token && !this.isLoggedIn) {
        this.passwordReset({
          reset_token: this.reset_token,
          new_password: this.formData.password,
          new_password_confirmation: this.formData.newPassword
        })
      } else {
        this.updatePassword({
          current_password: this.formData.password,
          new_password: this.formData.newPassword
        })
      }
      this.formData.password = ''
      this.formData.newPassword = ''
    },
    ...mapActions({
      updatePassword:'updatePassword',
      passwordReset:'passwordReset',
      logout:'logout',
      fetchUser: 'user/fetchUser',
      })
  },
  computed: {
    reset_token() {
      return this.$route.query.reset_token !== undefined
        ? this.$route.query.reset_token
        : false
    },
    ...mapGetters({
      isInprogress: 'isInprogress',
      isLoggedIn:'isLoggedIn',
      isSucess:'isSucess',
      responseStatusCode: 'user/responseStatusCode',
      })
  },
  watch: {
    isSucess(to) {
      this.message = to
      setTimeout(() => (this.message = false), 5000)
    },
    'responseStatusCode': function(){
      if (this.responseStatusCode == 401) this.logout(true)
    },
  }
}
</script>

<style lang="scss" scoped></style>
