<template>
  <div class="mypage_wrapper">
    <form action="dummy" method="post" class="js-form" @submit.prevent="submitAddress">
      <main class="l-content" role="main">
        <div class="l-content__inner">
          <div class="l-contentBody">
            <div class="m-hdg1">
              <h1 class="m-hdg1__hdg">お届け先住所の変更</h1>
              <!-- /.m-hdg1 -->
            </div>

            <p class="m-txtComplete" v-if="message">
              <em>変更が完了しました</em>
            </p>

            <ul class="m-listForm">
              <li>
                <div class="m-frmTextbox">
                  <input type="text" v-model="formData.name" placeholder="氏名" />
                </div>
              </li>
              <li>
                <div class="m-frmTextbox">
                  <input type="text" v-model="formData.zipcode" placeholder="郵便番号（例：1501200）" />
                </div>
              </li>
              <li>
                <div class="m-frmSelect">
                  <select v-model="formData.prefecture">
                    <option value>都道府県</option>
                    <option
                      :selected="pre.value == formData.prefecture ? 'selected': ''"
                      :value="pre.value"
                      v-for="(pre, index) in prefecture"
                      :key="index"
                    >{{pre.label}}</option>
                  </select>
                  <!-- /.m-frmSelect -->
                </div>
              </li>
              <li>
                <div class="m-frmTextbox">
                  <input type="text" v-model="formData.address_1" placeholder="市区町村 番地" />
                </div>
              </li>
              <li>
                <div class="m-frmTextbox">
                  <input type="text" v-model="formData.address_2" placeholder="アパートやマンション名など" />
                </div>
              </li>
              <li>
                <div class="m-frmTextbox">
                  <input type="text" v-model="formData.phone_number" placeholder="電話番号" />
                </div>
              </li>
              <!-- /.m-listForm -->
            </ul>

            <ul class="m-listBtn">
              <li>
                <button type="submit" class="m-btn" :disabled="isDisabled || isSubmitSend  ">
                  <span>変更する</span>
                </button>
              </li>
              <!-- /.m-listBtn -->
            </ul>
            <!-- /.l-contentBody -->
            <ErrorModule :isActive="failedModal" :message="errorMessage" />
          </div>
          <!-- /.l-content__inner -->
        </div>
        <!-- /.l-content -->
      </main>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ErrorModule from '~/components/ErrorModal'
export default {
  layout: 'menu-header',
  components: {
    ErrorModule
  },
  data() {
    return {
      prefecture: [
        { value: '都道府県', label: '都道府県' },
        { value: '北海道', label: '北海道' },
        { value: '青森県', label: '青森県' },
        { value: '岩手県', label: '岩手県' },
        { value: '宮城県', label: '宮城県' },
        { value: '秋田県', label: '秋田県' },
        { value: '山形県', label: '山形県' },
        { value: '福島県', label: '福島県' },
        { value: '茨城県', label: '茨城県' },
        { value: '栃木県', label: '栃木県' },
        { value: '群馬県', label: '群馬県' },
        { value: '埼玉県', label: '埼玉県' },
        { value: '千葉県', label: '千葉県' },
        { value: '東京都', label: '東京都' },
        { value: '神奈川県', label: '神奈川県' },
        { value: '新潟県', label: '新潟県' },
        { value: '富山県', label: '富山県' },
        { value: '石川県', label: '石川県' },
        { value: '福井県', label: '福井県' },
        { value: '山梨県', label: '山梨県' },
        { value: '長野県', label: '長野県' },
        { value: '岐阜県', label: '岐阜県' },
        { value: '静岡県', label: '静岡県' },
        { value: '愛知県', label: '愛知県' },
        { value: '三重県', label: '三重県' },
        { value: '滋賀県', label: '滋賀県' },
        { value: '京都府', label: '京都府' },
        { value: '大阪府', label: '大阪府' },
        { value: '兵庫県', label: '兵庫県' },
        { value: '奈良県', label: '奈良県' },
        { value: '和歌山県', label: '和歌山県' },
        { value: '鳥取県', label: '鳥取県' },
        { value: '島根県', label: '島根県' },
        { value: '岡山県', label: '岡山県' },
        { value: '広島県', label: '広島県' },
        { value: '山口県', label: '山口県' },
        { value: '徳島県', label: '徳島県' },
        { value: '香川県', label: '香川県' },
        { value: '愛媛県', label: '愛媛県' },
        { value: '高知県', label: '高知県' },
        { value: '福岡県', label: '福岡県' },
        { value: '佐賀県', label: '佐賀県' },
        { value: '長崎県', label: '長崎県' },
        { value: '熊本県', label: '熊本県' },
        { value: '大分県', label: '大分県' },
        { value: '宮崎県', label: '宮崎県' },
        { value: '鹿児島', label: '鹿児島' },
        { value: '沖縄県', label: '沖縄県' }
      ],
      message: false,
      formData: { ...this.user } || {},
      editFlag: false
    }
  },

  computed: {
    ...mapGetters({
      user: 'user/getUser',
      isSubmitSend: 'user/getSubmitSend',
      isError: 'user/isError',
      isSuccess: 'user/isSuccess',
      errorMessage: 'user/errorMessage',
      responseStatusCode: 'user/responseStatusCode',
    }),
    isDisabled() {
      if (this.isError === true) {
        return false
      }
      const {
        name,
        zipcode,
        address_1,
        address_2,
        prefecture,
        phone_number,
        email
      } = this.formData
      if (
        name == '' ||
        zipcode == '' ||
        prefecture == '' ||
        address_1 == '' ||
        phone_number == ''
      ) {
        return true
      }
      if (
        name !== this.user.name ||
        zipcode !== this.user.zipcode ||
        prefecture !== this.user.prefecture ||
        address_1 !== this.user.address_1 ||
        address_2 !== this.user.address_2 ||
        phone_number !== this.user.phone_number
      ) {
        return false
      }
      return true
    },
    failedModal() {
      if (this.isError) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    submitAddress() {
      this.updateUserAddress(this.formData)
    },
    isSubmitError() {
      if (this.isError === true) {
        return false
      } else {
        return true
      }
      return null
    },
    ...mapActions({
      fetchUser: 'user/fetchUser',
      updateUserAddress: 'user/updateUserAddress',
      clearErrorMessage: 'user/clearErrorMessage',
      logout: 'logout',
    })
  },
  mounted() {
    this.fetchUser()
    this.clearErrorMessage()
  },
  watch: {
    isSuccess(to) {
      this.message = to
      setTimeout(() => (this.message = false), 5000)
    },
    user(value) {
      this.formData = { ...value }
    },
    'formData.zipcode': function(zipcode) {
      if (zipcode.length === 7 && this.editFlag) {
        this.$axios.$post('/api/v1/get_address_info', { zipcode }).then((res) => {
          const address =
            res.data.results && res.data.results[0]
              ? res.data.results[0]
              : false
          if (address) {
            this.formData.prefecture = address.address1
            this.formData.address_1 = address.address2 + address.address3
          }
        })
      }
      this.editFlag = true
    },
    'responseStatusCode': function(){
      if (this.responseStatusCode == 401) this.logout(true)
    },
  }
}
</script>

<style lang="scss" scoped>
.m-frmSelect select {
  color: #000;
}
</style>
