<template>
  <div class="mypage_wrapper">
    <form action="dummy" method="post" class="js-form" @submit.prevent="submitFrequency">
      <main class="l-content" role="main">
        <div class="l-content__inner">
          <div class="l-contentBody">
            <div class="m-hdg1">
              <h1 class="m-hdg1__hdg">レンズ度数の変更</h1>
              <!-- /.m-hdg1 -->
            </div>

            <p class="m-txtComplete" v-if="message">
              <em>変更が完了しました</em>
            </p>

            <ul class="m-listForm">
              <li>
                <div class="m-frmSelect">
                  <select
                    v-model="formData.right_lens_id"
                    v-bind:class="[formData.right_lens_id ? 'is-active' : '', '']"
                  >
                    <option value>右目</option>
                    <option
                      v-for="option in lensData.right"
                      :selected="option.value == lensData.right_lens_id ? 'selected': ''"
                      v-bind:value="option.value"
                      :key="option.value"
                    >右目 {{ option.label }}</option>
                  </select>
                  <!-- /.m-frmSelect -->
                </div>
              </li>
              <li>
                <div class="m-frmSelect">
                  <select
                    v-model="formData.left_lens_id"
                    v-bind:class="[formData.left_lens_id ? 'is-active' : '', '']"
                  >
                    <option value>左目</option>
                    <option
                      v-for="option in lensData.left"
                      :selected="option.value == lensData.left_lens_id ? 'selected': ''"
                      v-bind:value="option.value"
                      :key="option.value"
                    >左目 {{ option.label }}</option>
                  </select>
                  <!-- /.m-frmSelect -->
                </div>
              </li>
              <!-- /.m-listForm -->
            </ul>

            <ul class="m-listBtn">
              <li>
                <button type="submit" class="m-btn" :disabled="isButtondisable()">
                  <span>変更する</span>
                </button>
              </li>
              <!-- /.m-listBtn -->
            </ul>
            <!-- /.l-contentBody -->
          </div>
          <!-- /.l-content__inner -->
        </div>
        <!-- /.l-content -->
      </main>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  layout: 'menu-header',
  data() {
    return {
      lensData: {
        right: [],
        left: []
      },
      formData: {
        left_lens_id: '',
        right_lens_id: ''
      },
      message: false
    }
  },
  mounted() {
    this.fetchUser()
    this.fetchLenseData()
  },
  methods: {
    submitFrequency() {
      this.updateUserLens(this.formData)
        .then((response) => (this.disabled = true))
        .catch((error) => {
          this.disabled = false
        })
    },
    isButtondisable() {
      return (
        (this.formData.left_lens_id === this.user.left_lens_id &&
          this.formData.right_lens_id === this.user.right_lens_id) ||
        (this.isInProgress === true && this.isError === false)
      )
    },
    ...mapActions({
      fetchLenseData: 'lens/fetchLenseData',
      updateUserLens: 'lens/updateUserLens',
      fetchUser: 'user/fetchUser',
      logout: 'logout',
    })
  },
  computed: {
    ...mapGetters({
      lenseList: 'lens/getLenses',
      user: 'user/getUser',
      isInProgress: 'lens/isInProgress',
      isError: 'lens/isError',
      isSuccess: 'lens/isSuccess',
      responseStatusCode: 'user/responseStatusCode',
    })
  },
  watch: {
    isSuccess(to) {
      this.message = to
      setTimeout(() => (this.message = false), 5000)
    },
    lenseList(items) {
      var lensitems = items.lens.map((item) => ({
        label: item.diopter,
        value: item.id
      }))

      this.lensData.left = lensitems
      this.lensData.right = lensitems
    },
    user(to) {
      this.formData.left_lens_id = to.left_lens_id
      this.formData.right_lens_id = to.right_lens_id
    },
    'responseStatusCode': function(){
      if (this.responseStatusCode == 401) this.logout(true)
    },
  }
}
</script>

<style lang="scss" scoped>
</style>
