<template>
  <div class="mypage_wrapper">
    <form action="dummy" method="post" class="js-form" @submit.prevent="sumbitCardData">
      <main class="l-content" role="main">
        <div class="l-content__inner">
          <div class="l-contentBody">
            <div class="m-hdg1">
              <h1 class="m-hdg1__hdg">クレジットカードの情報の変更</h1>
              <!-- /.m-hdg1 -->
            </div>
            <p class="m-txtComplete" v-if="message">
              <em>変更が完了しました</em>
            </p>

            <ul class="m-listForm">
              <li class="m-listForm__credit">
                <ul class="m-listForm__card">
                  <li>
                    <img src="~/assets/img/common/logo_01.png" width="43" alt="VISA" />
                  </li>
                  <li>
                    <img src="~/assets/img/common/logo_02.png" width="27" alt="MasterCard" />
                  </li>
                  <li>
                    <img src="~/assets/img/common/logo_03.png" width="20" alt="AMERICANEXPRESS" />
                  </li>
                  <li>
                    <img src="~/assets/img/common/logo_04.png" width="27" alt="JCB" />
                  </li>
                  <!-- /.m-listForm__card -->
                </ul>
                <label for="formNumber" class="m-frmLabel">カード番号</label>
                <div class="m-frmTextbox">
                  <input
                    type="number"
                    id="formNumber"
                    placeholder="16桁・ハイフンなし"
                    v-model="formData.formNumber"
                    :class=" errors.cardno.status ? 'is-invalid' : ''"
                    v-on:change="validateInput( 'cardno', false, '' )"
                    v-on:input="validateInput( 'cardno', false, '' )"
                    v-on:blur="validateInput( 'cardno', formData.formNumber === '', 'カード番号を入力してください' )"
                  />
                  <p v-if="errors.cardno.status">{{errors.cardno.message}}</p>
                </div>
              </li>
              <li>
                <label for="formName" class="m-frmLabel">カード名義</label>
                <div class="m-frmTextbox">
                  <input
                    type="text"
                    id="formName"
                    placeholder="HANAKO YAMADA"
                    v-model="formData.formName"
                    :class=" errors.holdername.status ? 'is-invalid' : ''"
                    v-on:change="validateInput( 'holdername', false, '' )"
                    v-on:input="validateInput( 'holdername', false, '' )"
                    v-on:blur="validateInput( 'holdername', formData.formName === '', 'カード名義を入力してください' )"
                  />
                  <p v-if="errors.holdername.status">{{errors.holdername.message}}</p>
                </div>
              </li>
              <li>
                <label for="formLimit" class="m-frmLabel">有効期限</label>

                <div class="expiration_date">
                  <div class="m-frmSelect">
                    <select
                      v-model="expiryMonth"
                      :class=" [errors.expiryMonth.status ? 'is-invalid' : '',  expiryMonth ? 'is-active' : '']"
                      v-on:blur="validateInput( 'expiryMonth', expiryMonth === '', '有効期限月を入力してください' )"
                    >
                      <option value>月</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  </div>
                  <p v-if="errors.expiryMonth.status">{{errors.expiryMonth.message}}</p>
                  <div class="m-frmSelect">
                    <select
                      v-model="expiryYear"
                      :class=" [errors.expiryYear.status ? 'is-invalid' : '',  expiryYear ? 'is-active' : '']"
                      v-on:blur="validateInput( 'expiryYear', expiryYear === '', '有効期限年を入力してください' )"
                    >
                      <option value>年</option>
                      <option v-for="year in yearList" v-bind:value="year" :key="year">{{ year }}</option>
                    </select>
                  </div>
                  <p v-if="errors.expiryYear.status">{{errors.expiryYear.message}}</p>
                </div>

                <!-- <div class="m-frmTextbox">
                  <input type="text" v-model="formData.formLimit" id="formLimit" placeholder="月/年" />
                </div>-->
              </li>
              <li>
                <label for="formCode" class="m-frmLabel">セキリュティコード</label>
                <div class="m-frmTextbox">
                  <input
                    type="text"
                    v-model="formData.formCode"
                    id="formCode"
                    placeholder="123"
                    :class=" errors.securitycode.status ? 'is-invalid' : ''"
                    v-on:change="validateInput( 'securitycode', false, '' )"
                    v-on:input="validateInput( 'securitycode', false, '' )"
                    v-on:blur="validateInput( 'securitycode', formData.formCode === '', 'セキュリティコードを入力してください' )"
                  />
                  <p v-if="errors.securitycode.status">{{errors.securitycode.message}}</p>
                </div>
              </li>
              <!-- /.m-listForm -->
            </ul>

            <ul class="m-listBtn">
              <li>
                <button type="submit" class="m-btn" :disabled="isDisabled() || formDatacheck() ">
                  <span>変更する</span>
                </button>
              </li>
              <!-- /.m-listBtn -->
            </ul>
            <!-- /.l-contentBody -->
            <ErrorModule :isActive="failedModal" message="エラーが発生しました" />
          </div>
          <!-- /.l-content__inner -->
        </div>
        <!-- /.l-content -->
      </main>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ErrorModule from '~/components/ErrorModal'
window.execPurchase = function(response) {
  if ((response.resultCode = '000')) {
    window.$nuxt.$store.dispatch('card/updateCardInfo', response.tokenObject)
  }
}
export default {
  layout: 'menu-header',
  components: {
    ErrorModule
  },
  head() {
    return {
      script: [{ src: process.env.paymentUrl }]
    }
  },
  mounted() {
    this.fetchUser()
    this.years()
    this.clearErrorMessage()
  },
  data() {
    return {
      formData: {
        formNumber: '',
        formName: '',
        formLimit: '',
        formCode: ''
      },
      expiryMonth: '',
      expiryYear: '',
      yearList: [],
      errors: {
        holdername: {
          status: false,
          message: ''
        },
        securitycode: {
          status: false,
          message: ''
        },
        cardno: {
          status: false,
          message: ''
        },
        expiryYear: {
          status: false,
          message: ''
        },
        expiryMonth: {
          status: false,
          message: ''
        }
      }
      // Dummy valid card data add for testing purpose.
      // formNumber: 4242424242424242,
      // formName: 'HANAKOYAMADA',
      // formLimit: 2112,
      // formCode: 123
    }
  },
  computed: {
    expiryDate() {
      let expiryMonth = this.expiryMonth
      let expiryYear = String(this.expiryYear).slice(-2)
      return expiryYear + '' + expiryMonth
    },
    failedModal() {
      if (this.isError) {
        return true
      }
    },
    ...mapGetters({
      isSubmit: 'card/isSubmit',
      isError: 'card/isError',
      isInProgress: 'card/isInProgress',
      getPayment: 'order/getPayment',
      responseStatusCode: 'user/responseStatusCode',
    })
  },
  methods: {
    sumbitCardData() {
      Multipayment.init(process.env.token)
      Multipayment.getToken(
        {
          cardno: this.formData.formNumber,
          expire: this.formData.formLimit,
          securitycode: this.formData.formCode,
          holdername: this.formData.formName
        },
        execPurchase
      )
    },
    isDisabled() {
      for (var key in this.formData) {
        if (this.formData[key].length > 0) {
          return false
        }
      }
      if (this.isError) {
        return false
      } else if (this.isSubmit) {
        return true
      } else if (this.isInProgress) {
        return true
      } else {
        return true
      }
    },
    years() {
      let currentYear = new Date().getFullYear()
      var yearEnd = currentYear + 10

      var years = []

      while (currentYear < yearEnd + 1) {
        years.push(currentYear++)
      }
      this.yearList = years
    },
    validateInput(input, status, message) {
      this.errors[input] = {
        status,
        message
      }
    },
    formDatacheck() {
      const valuesCheck =
        this.formData.formName &&
        this.formData.formCode &&
        this.formData.formLimit &&
        this.formData.formNumber
          ? false
          : true
      return (
        valuesCheck ||
        this.errors.holdername.status ||
        this.errors.securitycode.status ||
        this.errors.cardno.status ||
        this.errors.expiryYear.status ||
        this.errors.expiryMonth.status
      )
    },
    ...mapActions({
      updateCardInfo: 'card/updateCardInfo',
      clearErrorMessage: 'card/clearErrorMessage',
      fetchUser: 'user/fetchUser',
      logout: 'logout',
    })
  },
  watch: {
    isSubmit(to) {
      if (to) {
        for (var key in this.formData) {
          this.formData[key] = ''
        }
        this.message = to
      }
    },
    expiryDate(exp) {
      this.formData.formLimit = exp
    },
    'responseStatusCode': function(){
      if (this.responseStatusCode == 401) this.logout(true)
    },
  }
}
</script>

<style lang="scss" scoped>
.expiration_date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .m-frmSelect {
    flex: 49% 0;
  }
}
</style>
