<template>
  <div class="mypage_wrapper inner_wrapper">
    <main class="l-content" role="main">
      <div class="l-content__inner">
        <div class="l-contentBody">
          <div class="m-hdg1">
            <h1 v-if="isStatusInProgress"><div class="is-skeleton" style="width:100"></div></h1>
            <h1 v-if="!isStatusInProgress" class="m-hdg1__hdg">ご注文履歴</h1>
            <!-- /.m-hdg1 -->
          </div>

          <div class="m-listOrderHistory" role="list">
            <div
              v-for="(delivery,index) in deliveris"
              :key="index"
              class="m-listOrderHistory__item"
              role="listitem"
            >
              <!-- {{ deliveris['deliveris'] }} -->
              <table class="m-listOrderHistory__table">
                <caption style="caption-side:unset !important" v-if="isStatusInProgress" class="is-skeleton"></caption>
                <caption style="caption-side:unset !important" v-if="!isStatusInProgress">{{ $moment( delivery['delivery_date'] ).format('MMMM D') }}</caption>
                <tbody>
                  <tr>
                    <th v-if="isStatusInProgress"><div class="is-skeleton" style="width: 100px;"></div></th>
                    <th v-if="!isStatusInProgress">ご注文番号</th>
                    <td v-if="isStatusInProgress"><div class="is-skeleton" style="width: 100px;"></div></td>
                    <td v-if="!isStatusInProgress">{{ delivery.invoice_number }}</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th v-if="isStatusInProgress"><div class="is-skeleton" style="width: 100px;"></div></th>
                    <th v-if="!isStatusInProgress">お届日時</th>
                    <td v-if="isStatusInProgress"><div class="is-skeleton" style="width: 100px;"></div></td>
                    <td v-if="!isStatusInProgress">{{ $moment( delivery['delivery_date'] ).format('YYYY/MM/DD/HH:SS') }}</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th v-if="isStatusInProgress"><div class="is-skeleton" style="width: 100px;"></div></th>
                    <th v-if="!isStatusInProgress">お届け商品</th>
                    <td v-if="isStatusInProgress"><div class="is-skeleton" style="width: 100px;"></div></td>
                    <td v-if="!isStatusInProgress">
                      右目 {{ lenseList && lenseList.lens && lenseList.lens.find( (lens) =>lens['id'] === delivery['right_lens_id'] ).diopter }} ( {{ delivery['right_lens_unit'] }}箱 )
                      <br />
                      左目 {{ lenseList && lenseList.lens && lenseList.lens.find( (lens) =>lens['id'] === delivery['left_lens_id'] ).diopter }} ( {{ delivery['left_lens_unit'] }}箱 )
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th v-if="isStatusInProgress"><div class="is-skeleton" style="width: 100px;"></div></th>
                    <th v-if="!isStatusInProgress">お届け先</th>
                    <td v-if="isStatusInProgress"><div class="is-skeleton" style="width: 100px;"></div></td>
                    <td v-if="!isStatusInProgress">{{ delivery.address_1 }}, {{ delivery.address_2 }}</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th v-if="isStatusInProgress"><div class="is-skeleton" style="width: 100px;"></div></th>
                    <th v-if="!isStatusInProgress">ご請求金額</th>
                    <th v-if="isStatusInProgress">
                      <div class="is-skeleton" style="width: 100px;">
                        <br />
                        <br />
                      </div>
                    </th>
                    <th v-if="!isStatusInProgress">
                      商品代金
                      <br />割引適用
                      <br />ご請求計(送料・税込)
                    </th>
                    <th v-if="isStatusInProgress">
                      <div class="is-skeleton" style="width: 100px;">
                        <br />
                        <br />
                      </div>
                    </th>
                    <td v-if="!isStatusInProgress">
                      &yen;{{ Number(delivery.price).toLocaleString() }}
                      <br />
                      -&yen;{{ Number( delivery.discount_price ).toLocaleString() }}
                      <br />
                      &yen; {{ Number( delivery.price - delivery.discount_price ).toLocaleString() }}
                    </td>
                  </tr>
                </tbody>
                <!-- /.m-listOrderHistory__table -->
              </table>
              <!-- /.m-listOrderHistory__item -->
            </div>
            <!-- /.m-listOrderHistory -->
          </div>
          <!-- /.l-contentBody -->
        </div>
        <!-- /.l-content__inner -->
      </div>
      <!-- /.l-content -->
    </main>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  layout: 'menu-header',
  computed: { 
    ...mapGetters( {
      lenseList: 'lens/getLenses',
      deliveris: 'orderhistory/orderHistory',
      isStatusInProgress: 'orderhistory/isInProgress',
      responseStatusCode: 'user/responseStatusCode',
    } ),
  },
  methods: {
    ...mapActions( {
      fetchLenseData: 'lens/fetchLenseData',
      fetchOrderHistory: 'orderhistory/fetchOrderHistory',
      fetchUser: 'user/fetchUser',
      logout: 'logout',
    } ),
  },
  mounted() {
    this.fetchUser()
    this.fetchLenseData()
    this.fetchOrderHistory()
  },
  watch: {
    'responseStatusCode': function(){
      if (this.responseStatusCode == 401) this.logout(true)
    },
  },
}
</script>

<style lang="scss" scoped>
.inner_wrapper {
  font-size: 14px;
}
.m-listOrderHistory__item {
  margin: 20px 0 0;
  padding: 20px 0 0;
  border-top: 1px solid #ececec;
}
.m-listOrderHistory__item:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.m-listOrderHistory__table {
  width: auto;
  border: none;
}
.m-listOrderHistory__table caption {
  font-weight: bold;
  text-align: left;
}
.m-listOrderHistory__table th {
  font-weight: normal;
  color: #6d6d6d;
}
.m-listOrderHistory__table th,
.m-listOrderHistory__table td {
  vertical-align: top;
}
.m-listOrderHistory__table tbody tr > * {
  padding: 5px 0 0 15px;
}
.m-listOrderHistory__table tbody tr > *:first-child {
  padding-left: 0;
}
.m-listOrderHistory__table tbody tr > *:nth-child(1) {
  white-space: nowrap;
}
.m-listOrderHistory__table tbody tr > *:nth-child(3) {
  white-space: nowrap;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .m-listOrderHistory__item {
    margin: 15px -15px 0;
    padding: 15px 15px 0;
  }
  .m-listOrderHistory__table {
    font-size: 1.3rem;
  }
}
</style>
