<template>
  <div class="mypage_wrapper inner_wrapper">
    <form action="dummy" method="post" class="js-form" @submit.prevent="submitFeedback()">
      <main class="l-content" role="main">
        <div class="l-content__inner">
          <div class="l-contentBody">
            <div class="m-hdg1">
              <h1 class="m-hdg1__hdg">ご意見</h1>
              <!-- /.m-hdg1 -->
            </div>

            <p class="m-txtComplete" v-if="message">
              <em>送信完了しました</em>
            </p>

            <ul class="m-listForm">
              <li>
                <div class="m-frmTextarea">
                  <textarea v-model="body" placeholder="ご意見をお書きください"></textarea>
                  <!-- /.m-frmTextarea -->
                </div>
              </li>
              <!-- /.m-listForm -->
            </ul>

            <ul class="m-listBtn">
              <li>
                <button type="submit" class="m-btn" :disabled="isDisabled()">
                  <span>送信する</span>
                </button>
              </li>
              <!-- /.m-listBtn -->
            </ul>
            <!-- /.l-contentBody -->
          </div>
          <!-- /.l-content__inner -->
        </div>
        <!-- /.l-content -->
      </main>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  layout: 'menu-header',
  data() {
    return {
      message: false,
      body: '',
      message: false
    }
  },
  mounted(){
    this.fetchUser()
  },
  computed: {
    ...mapGetters({
      isSubmit: 'opinion/isSubmit',
      isError: 'opinion/isError',
      InProgress: 'opinion/InProgress',
      responseStatusCode: 'user/responseStatusCode',
    })
  },
  methods: {
    submitFeedback() {
      let formData = {
        body: this.body
      }
      this.postFeedback(formData)
    },
    isDisabled() {
      if (this.body.length > 0) {
        return false
      } else if (this.isError === true) {
        return false
      } else if (this.InProgress) {
        return true
      } else {
        return true
      }
    },

    ...mapActions({
      postFeedback: 'opinion/postFeedback',
      fetchUser: 'user/fetchUser',
      logout: 'logout',
    })
  },
  watch: {
    isSubmit(to) {
      this.message = true
      setTimeout(() => (this.message = false), 5000)
      if (to) {
        this.body = ''
      }
    },
    'responseStatusCode': function(){
      if (this.responseStatusCode == 401) this.logout(true)
    },
  }
}
</script>

<style lang="scss" scoped>
.inner_wrapper {
  font-size: 14px;
}
ul {
  padding: 0;
}
.m-frmTextarea {
  margin: 8px 0 0;
}
.m-frmTextarea textarea {
  width: 100%;
  min-height: 240px;
  padding: 15px;
  font-size: 1.8rem;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #a9c5d3;
  background: #fff;
}
</style>
