<template>
  <div class="mypage_wrapper">
    <form action="/" method="post" class="js-form" v-on:submit.prevent="submitForm">
      <main class="l-content" role="main">
        <div class="l-content__inner">
          <div class="l-contentBody">
            <div class="m-hdg1">
              <h1 class="m-hdg1__hdg">パスワードの再設定</h1>
              <!-- /.m-hdg1 -->
            </div>

            <p class="m-txt">パスワードを忘れた方は、登録メールアドレスにパスワード再設定のためのメールをお送りいたします。</p>

            <ul class="m-listForm">
              <li>
                <div class="m-frmTextbox">
                  <input type="text" placeholder="メールアドレス" v-model="formData.email" :disabled="isInprogress" />
                </div>
              </li>
              <!-- /.m-listForm -->
            </ul>

            <ul class="m-listBtn">
              <li>
                <button type="submit" class="m-btn" :disabled="formData.email === '' || isInprogress">
                  <span>メールを送信する</span>
                </button>
              </li>
              <!-- /.m-listBtn -->
            </ul>
            <!-- /.l-contentBody -->
          </div>
          <!-- /.l-content__inner -->
        </div>
        <!-- /.l-content -->
      </main>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
  layout: 'no-menu-header',
  data() {
    return {
      formData: {
        email: '',
      }
    }
  },
  methods: {
    submitForm() {
      this.passwordResetToken( this.formData.email )
    },
    ...mapActions( [ 'passwordResetToken' ] )
  },
  computed: {
    ...mapGetters( [ 'isInprogress' ] )
  }
}
</script>

<style lang="scss" scoped></style>
