<template>
  <div class="mypage_wrapper inner_wrapper">
    <main class="l-content" role="main">
      <div class="l-content__inner">
        <div class="l-contentBody">
          <div class="m-hdg2">
            <h2 class="m-hdg2__hdg">お問い合わせ</h2>
            <!-- /.m-hdg2 -->
          </div>

          <p class="m-txt">営業時間：月〜金（土日祝休み）9時〜18時</p>

          <ul class="m-listLink">
            <li>
              <a href="mailto:info@lens.co.jp">
                <span>メールでのお問い合わせ</span>
              </a>
            </li>
            <!-- /.m-listLink -->
          </ul>

          <div class="m-hdg2">
            <h2 class="m-hdg2__hdg">よくある質問</h2>
            <!-- /.m-hdg2 -->
          </div>

          <ul class="m-listFaq">
            <li class="m-listFaq__item">
              <em class="m-listFaq__ttl">
                <span>Q.</span>商品の返品はできますか？
              </em>
              <div class="m-listFaq__txt">
                商品お届け後に返品はお受けしておりません。
                <br />商品が届く前に配送日時を変更いただくか、一時的に配送を停止してください。
              </div>
              <!-- /.m-listFaq__item -->
            </li>
            <li class="m-listFaq__item">
              <em class="m-listFaq__ttl">
                <span>Q.</span>個数を変更することはできますか？
              </em>
              <div class="m-listFaq__txt">変更はできません。決まった量をお送りしますので量を増やしたい方はお届け日の感覚を狭めるようにご調整ください。</div>
              <!-- /.m-listFaq__item -->
            </li>
            <li class="m-listFaq__item">
              <em class="m-listFaq__ttl">
                <span>Q.</span>コンビニ払いはできますか？
              </em>
              <div class="m-listFaq__txt">現在はクレジットカードにのみ対応しています。お客様のニーズに合わせて今後ご検討します。</div>
              <!-- /.m-listFaq__item -->
            </li>
            <!-- /.m-listFaq -->
          </ul>
          <!-- /.l-contentBody -->
        </div>
        <!-- /.l-content__inner -->
      </div>
      <!-- /.l-content -->
    </main>
  </div>
</template>

<script>
export default {
  layout: 'menu-header'
}
</script>

<style lang="scss" scoped>
.inner_wrapper {
  font-size: 14px;
}
ul {
  padding: 0;
}
.m-listLink {
  margin: 12px 0 0;
}
.m-listLink li {
  border-top: 1px solid #a9c5d3;
}
.m-listLink li:last-child {
  border-bottom: 1px solid #a9c5d3;
}
.m-listLink li a {
  padding: 15px 25px 12px 0;
  display: block;
  position: relative;
}
.m-listLink li a:hover,
.m-listLink li a:focus,
.m-listLink li a:active {
  text-decoration: none;
}
.m-listLink li a::after {
  width: 13px;
  height: 13px;
  margin: -7px 0 0;
  transition: 0.3s all ease;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 0;
  border-top: 1px solid #a9c5d3;
  border-right: 1px solid #a9c5d3;
  transform: rotate(45deg);
  content: '';
}
.m-listFaq__item {
  padding: 20px 0;
  border-top: 1px solid #ececec;
}
.m-listFaq__item:last-child {
  padding-bottom: 0;
}
.m-listFaq__ttl {
  padding: 0 0 0 25px;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.3;
  display: block;
  position: relative;
  font-style: normal;
}
.m-listFaq__ttl span {
  color: #3fb8ec;
  position: absolute;
  left: 0;
  display: block;
}
.m-listFaq__txt {
  margin: 5px 0 0;
  line-height: 21px;
}
@media screen and (max-width: 767px) {
  .m-listFaq {
    margin: 0 -15px;
  }
  .m-listFaq__item {
    padding: 20px 15px;
  }
}
</style>
