<template>
  <div class="m-modal" :class="isOpen ? 'is-active' : ''" id="calendar">
    <div class="m-modal__content">
      <form action="/" method="post" v-on:submit.prevent="submit">
        <p class="m-modal__ttl"><em>お届け日変更</em></p>
        <div id="datepicker"></div>
        <Datepicker :inline="true" :language="lang" :disabled-dates="disabledDate" @selected="selectDate" :value="dateValue" />
        <ul class="m-modal__list">
          <li><a href="#" class="m-modal__btn js-modalClose" @click="closeIt"><span>キャンセル</span></a></li>
          <li><button type="submit" class="m-modal__btn submit-btn"><span>完了</span></button></li>
        </ul>
      </form>
    </div>
    <div class="m-modal__layer" @click="closeIt"></div>
  </div>
</template>

<style lang="scss" scoped>
.m-modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease;

  &.is-active {
    z-index: 1000;
    opacity: 1;
    visibility: initial;
  }

  &__layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.6;
    background: #000;
  }

  &__content {
    width: 100%;
    max-width: 380px;
    margin: 15px;
    padding: 25px 25px 15px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 3px #999;
    background: #fff;

    .m-modal__ttl {
      margin: -25px -25px 0;
      padding: 10px 25px;
      font-size: 1.6rem;
      color: #6d6d6d;
      line-height: 1;
      text-align: center;
      display: block;
      border-bottom: 1px solid #ececec;

      em {
        font-style: normal;
        font-weight: bold;
      }
    }

    .m-modal__list {
      margin: 0 -25px;
      padding: 15px 15px 0;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-end;
      border-top: 1px solid #ececec;
      list-style: none;

      li {
        margin: 0 10px 0 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .m-modal__btn {
      width: 55px;
      height: 30px;
      font-size: 1.4rem;
      font-weight: bold;
      line-height: 1;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      border: none;

      @include more-than--sp2 {
        width: 120px;
        height: 40px;
        font-size: 1.6rem;
      }

      &.submit-btn {
        color: #fff;
        background: #3fb8ec;
      }

      &.js-modalClose {
        width: auto;
        color: #3fb8ec;
        background: #fff;
      }
    }
  }
}

</style>

<style lang="scss">
.m-modal {
  .vdp-datepicker__calendar {
    width: 100%;
    border: none;

    .cell {
      font-size: 14px;

      &.day-header {
        font-size: 14px;
        color: #ccc;
      }

      &.disabled {
        color: #ccc;
      }

      &.day {
        border: none !important;
        
        &.selected {
          color: #fff;
          position: relative;
          background-color: transparent;
          z-index: 9;

          &::after {
            content: '';
            width: 30px;
            height: 30px;
            display: block;
            background-color: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            border-radius: 30px;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
  .day__month_btn {
    font-size: 16px;
    &:hover {
      background-color: transparent !important;
    }
  }

  .vdp-datepicker__calendar header .prev,
  .vdp-datepicker__calendar header .next {
    &::after {
      transform: rotate(45deg);
      width: 10px;
      height: 10px;
      border: none;
    }

    &:hover {
      background-color: transparent !important;
    }
  }

  .vdp-datepicker__calendar header .next {
    &::after {
      border-right: 1px solid #000;
      border-top: 1px solid #000;
    }
  }
  .vdp-datepicker__calendar header .prev {
    &::after {
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
    }

    &.disabled {
      &::after {
        display: none;
      }
    }
  }
}
</style>

<script>
import Datepicker from 'vuejs-datepicker';
import {ja} from 'vuejs-datepicker/dist/locale'

export default {
  components: {
    Datepicker,
  },
  props: {
    isOpen: {
      type: Boolean,
      value: false,
    },
    date: {
      type: String,
      value: '',
    },
    close: {
      type: Function,
      value: () => {},
    },
    selectDate: {
      type: Function,
      value: () => {},
    },
    submit: {
      type: Function,
      value: () => {},
    },
    notAllowedDates: {
      type: Object,
      value: {},
    }
  },
  mounted() {
    this.dateValue = this.date;
  },
  data() {
    const to = new Date( this.notAllowedDates.begin_date );
    to.setDate( to.getDate() - 1 );
    const holidays = this.notAllowedDates.not_allowed_days.map( day => new Date( day.not_allowed_day.split('+')[0] ) )
    return {
      lang: ja,
      disabledDate: {
        to,
        dates: holidays,
      },
      dateValue: '',
    }
  },
  methods: {
    closeIt() {
      this.close();
    }
  },
  watch: {
    date( newDate ) {
      this.dateValue = newDate;
    }
  }
}
</script>