<template>
  <div class="chart" :class="isStop ? 'is-stop' : ''"></div>
</template>

<style lang="scss" scoped>

.chart {
  width: 280px;
  height: 280px;

  &::after {
    width: 250px;
    height: 250px;
    margin: -125px 0 0 -125px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: block;
    border: 1px solid #3fb8ec;
    border-radius: 50%;
    content: "";
  }

  &.is-stop {
    &::after {
      border-color: rgba( #3fb8ec, 0.3 );
    }
  }
}

</style>

<style lang="scss">
.chart {
  svg {
    position: relative;
    z-index: 0;
  }

  &.is-stop {
    > svg {
      display: none;
    }
  }
}
</style>

<script>
import ProgressBar from 'progressbar.js';

export default {
  props: {
    percent: {
      type: Number,
      default: 0
    },
    isStop: {
      type: Boolean,
      value: false
    }
  },
  mounted() {
    const options = {
      strokeWidth: 6,
      easing: "easeInOut",
      duration: 1400,
      color: "#fff",
      trailColor: "#3fb8ec",
      trailWidth: 5,
      svgStyle: null,
    };
    this.chart = new ProgressBar.Circle( this.$el, options );
    this.chart.set(this.percent);
  },
  watch: {
    percent( to, from ) {
      this.chart.set(0);
      this.chart.stop();
      this.chart.animate(this.percent);
    }
  }
}
</script>