<template>
  <div class="error_msg">
    <div class="m-modal" :class="showModal ? 'is-active' : ''">
      <div class="m-modal__content">
        <form action="dummy" method="post">
          <p class="m-modal__ttl" v-if="messageArr.length === 0">
            <em>{{ message }}</em>
          </p>
          <p class="m-modal__ttl" v-if="messageArr.length">
            <em v-for="(messageItem, index) in messageArr" :key="index">{{
              messageItem
            }}</em>
          </p>
          <ul class="m-modal__list">
            <li>
              <button type="button" @click="closeModal()">
                <span>OK</span>
              </button>
            </li>
          </ul>
        </form>
      </div>
      <div class="m-modal__layer" @click="closeModal()"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
    message: String,
    messageArr: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      showModal: this.isActive,
    }
  },
  methods: {
    closeModal() {
      return (this.showModal = false)
    },
  },
  watch: {
    isActive(value) {
      this.showModal = value
    },
  },
}
</script>

<style lang="scss" scoped>
.m-modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease;

  &.is-active {
    z-index: 1000;
    opacity: 1;
    visibility: initial;
  }

  &__layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.6;
    background: #000;
  }

  &__content {
    width: 100%;
    max-width: 270px;
    height: 140px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 3px #999;
    border-radius: 5px;
    background: #fff;

    .m-modal__ttl {
      height: 95px;
      margin: 0;
      font-size: 1.5rem;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #d3d3d3;

      em {
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        display: block;
      }
    }

    .m-modal__list {
      display: flex;
      flex-wrap: nowrap;
      padding: 0;
      margin: 0;
      list-style: none;
      justify-content: center;

      li {
        width: 50%;
        border-left: 1px solid #d3d3d3;

        &:first-child {
          border-left: none;
        }

        a,
        button {
          width: 100%;
          height: 45px;
          font-size: 1.7rem;
          color: #0076ff;
          text-decoration: none;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          border: none;
          background: transparent;
        }
      }
    }
  }
}
</style>
