<template>
  <div class="column">
    <figure>
      <slot></slot>
    </figure>
    <div class="column_info">
      <p class="column_title" v-html="title" />
      <p>{{ desc }}</p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.column_info {
  font-size: 16px;
  width: 84%;
  margin: 0 auto;

  @include more-than--sp {
    font-size: 18px;
    width: 100%;
    padding: 0 10.723860589%;
  }
}
.column_title {
  line-height: 1.45833333333;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  margin: 25.5px 0 23px;

  @include more-than--sp {
    margin: 34.5px 0 23px;
  }
}
</style>

<script>
export default {
  props: {
    title: String,
    desc: String
  }
}
</script>