<template>
  <footer class="l-footer" role="contentinfo">
    <div class="l-footerContent">
      <div class="l-footerContent__inner">
        <nav class="m-footerNav" role="navigation">
          <ul class="m-footerNav__list">
            <li><nuxt-link to="/agreement">利用規約</nuxt-link></li>
            <li><nuxt-link to="/policy">プライバシーポリシー</nuxt-link></li>
          </ul>
          <ul class="m-footerNav__list">
            <li><nuxt-link to="/law">特定商取引に関する表記</nuxt-link></li>
            <li><a href="mailto:info@lens.co.jp">お問い合わせ</a></li>
            <li><nuxt-link to="/company">運営会社</nuxt-link></li>
          </ul>
        </nav>
        <p class="m-footerApproval">
          <span>医療機器承認番号：22700BZX00120A07</span>
        </p>
      </div>
    </div>
  </footer>
</template>

<style lang="scss" scoped>
.l-footer {
  margin: auto 0 0;
  padding: 30px 0;
  color: #999;
}
.l-footerContent__inner {
  max-width: 630px;
  margin: 0 auto;
  padding: 0 15px;
}
.m-footerNav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.m-footerNav__list {
  margin: 0 0 0 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;

  &:first-child {
    margin-left: 0;
  }

  li {
    margin: 0 0 0 30px;
    font-size: 1.3rem;

    &:first-child {
      margin-left: 0;
    }
  }

  a {
    color: #999;
    line-height: 1;
    display: block;
  }
}

.m-footerApproval {
  margin: 10px 0 0;
  font-size: 1.3rem;
  text-align: center;
  display: block;
}
@media screen and (max-width: 767px) {
     .m-footerNav {
        display: block;
    }
    .m-footerNav__list {
        margin: 12px 0 0;
    }
    .m-footerNav__list:first-child {
        margin: 0;
    }
    .m-footerNav__list li {
        margin-left: 12px;
        font-size: 1.2rem;
    }
    .m-footerApproval {
        margin-top: 15px;
        font-size: 1.2rem;
    }
    .l-footer {
        padding: 15px 0;
        border-top: 1px solid #ececec;
    }
}

</style>
