<template>
  <div class="headerMenu-wrapper" :class="isActive ? 'is-active' : ''">
    <nav class="l-headerMenu" :class="isActive ? 'is-active' : ''" id="hmenu" aria-hidden="true" role="navigation">
      <div class="m-headerGnav">
        <ul class="m-headerGnav__list">
          <li class="m-headerGnav__icn" data-icon="lens">
            <nuxt-link to="/mypage/edit_frequency"><span>レンズ度数の変更</span></nuxt-link>
          </li>
          <li class="m-headerGnav__icn" data-icon="address">
            <nuxt-link to="/mypage/edit_address"><span>お届け先住所の変更</span></nuxt-link>
          </li>
          <li class="m-headerGnav__icn" data-icon="credit">
            <nuxt-link to="/mypage/edit_card"><span>クレジットカードの情報の変更</span></nuxt-link>
          </li>
          <li class="m-headerGnav__icn" data-icon="mail">
            <nuxt-link to="/mypage/edit_mail"><span>メールアドレスの変更</span></nuxt-link>
          </li>
          <li class="m-headerGnav__icn" data-icon="password">
            <nuxt-link to="/mypage/edit_password"><span>パスワードの変更</span></nuxt-link>
          </li>
          <li class="m-headerGnav__icn" data-icon="history">
            <nuxt-link to="/mypage/history"><span>ご注文履歴</span></nuxt-link>
          </li>
        </ul>
        <ul class="m-headerGnav__list">
          <li><nuxt-link to="/mypage/news"><span>お知らせ</span></nuxt-link></li>
          <li><nuxt-link to="/mypage/qa"><span>よくある質問・お問い合わせ</span></nuxt-link></li>
          <li><nuxt-link to="/policy"><span>個人情報保護方針</span></nuxt-link></li>
          <li><nuxt-link to="/mypage/leave"><span>サービスの解約について</span></nuxt-link></li>
          <li><nuxt-link to="/mypage/opinion"><span>ご意見</span></nuxt-link></li>
        </ul>
        <ul class="m-headerGnav__list">
          <li><button type="button" @click="logoutModal(true)"><span>ログアウト</span></button></li>
        </ul>
      </div>
      <div class="l-headerMenu__layer" :class="isActive ? 'is-active' : ''"></div>
    </nav>
    <div class="m-modal" :class="showLogoutModal ? 'is-active' : ''">
      <div class="m-modal__content">
        <form action="dummy" method="post">
          <p class="m-modal__ttl"><em>ログアウトしますか？</em></p>
          <ul class="m-modal__list">
            <li><button type="button" @click="logoutConfirm()"><span>はい</span></button></li>
            <li><button type="button" @click="logoutModal(false)"><span>いいえ</span></button></li>
          </ul>
        </form>
      </div>
      <div class="m-modal__layer" @click="logoutModal(false)"></div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.headerMenu-wrapper {
  visibility: hidden;

  &.is-active {
    visibility: visible;
  }
}
.l-headerMenu {
  width: 100%;
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 1;
  overflow-y: auto;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all ease;

  &__layer {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.3s all ease;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    background: #000;

    @include more-than--sp2 {
      display: none;
    }

    &.is-active {
      opacity: 0.65;
      visibility: visible;
    }
  }

  @include more-than--sp2 {
    max-width: 598px;
    margin: 30px auto 0;
    height: auto;
    position: relative;
    top: -20px;
    max-height: calc( 100vh - 91px );
  }
  &.is-active {
    top: 61px;
    bottom: 0;
    opacity: 1;
    visibility: visible;

    @include more-than--sp2 {
      position: relative;
      top: 0;
      bottom: auto;
    }
  }
}

.m-headerGnav {
  padding: 20px;
  position: relative;
  z-index: 2;
  background-color: #fff;

  &__list {
    margin: 15px 0 0;
    position: relative;
    border: 1px solid #a9c5d3;
    background: #fff;
    list-style: none;
    padding: 0;

    &:first-child {
      margin-top: 0;
    }

    li {
      margin: 0 15px;
      border-top: 1px solid #a9c5d3;

      &:first-child {
        border-top: none;
      }

      a,
      button {
        width: 100%;
        margin: 0 -15px;
        padding: 15px;
        line-height: 1;
        text-decoration: none;
        text-align: left;
        position: relative;
        display: block;
        box-sizing: content-box;
        border: none;
        background: none;

        &::after {
          width: 8px;
          height: 8px;
          margin: -6px 0 0;
          position: absolute;
          top: 50%;
          right: 25px;
          border-top: 1px solid #a9c5d3;
          border-right: 1px solid #a9c5d3;
          transform: rotate(45deg);
          content: "";
        }

        span {
          display: block;
        }
      }
    }
  }

  &__icn {
    a {
      &::before {
        position: absolute;
        top: 50%;
        content: "";
      }

      span {
        padding: 0 0 0 35px;
      }
    }

    &[data-icon="lens"] a::before {
      width: 13px;
      height: 21px;
      margin: -10px 0 0;
      left: 21px;
      background: url(~assets/img/common/icn_gnav_lens.png);
      background-size: 13px 21px;
    }

    &[data-icon="address"] a::before {
      width: 21px;
      height: 21px;
      margin: -10px 0 0;
      left: 18px;
      background: url(~assets/img/common/icn_gnav_address.png);
      background-size: 21px 21px;
    }

    &[data-icon="address"] a::before {
      width: 21px;
      height: 21px;
      margin: -10px 0 0;
      left: 18px;
      background: url(~assets/img/common/icn_gnav_address.png);
      background-size: 21px 21px;
    }

    &[data-icon="credit"] a::before {
      width: 20px;
      height: 14px;
      margin: -7px 0 0;
      left: 18px;
      background: url(~assets/img/common/icn_gnav_credit.png);
      background-size: 20px 14px;
    }

    &[data-icon="mail"] a::before {
      width: 20px;
      height: 16px;
      margin: -8px 0 0;
      left: 18px;
      background: url(~assets/img/common/icn_gnav_mail.png);
      background-size: 20px 16px;
    }

    &[data-icon="password"] a::before {
      width: 17px;
      height: 19px;
      margin: -10px 0 0;
      left: 19px;
      background: url(~assets/img/common/icn_gnav_password.png);
      background-size: 17px 19px;
    }

    &[data-icon="history"] a::before {
      width: 18px;
      height: 20px;
      margin: -10px 0 0;
      left: 18px;
      background: url(~assets/img/common/icn_gnav_history.png);
      background-size: 18px 20px;
    }
  }
}
.m-modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease;

  &.is-active {
    z-index: 1000;
    opacity: 1;
    visibility: initial;
  }

  &__layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.6;
    background: #000;
  }

  &__content {
    width: 100%;
    max-width: 270px;
    height: 140px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 3px #999;
    border-radius: 5px;
    background: #fff;

    .m-modal__ttl {
      height: 95px;
      margin: 0;
      font-size: 1.5rem;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #d3d3d3;

      em {
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        display: block;
      }
    }

    .m-modal__list {
      display: flex;
      flex-wrap: nowrap;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        width: 50%;
        border-left: 1px solid #d3d3d3;

        &:first-child {
          border-left: none;
        }

        a,
        button {
          width: 100%;
          height: 45px;
          font-size: 1.7rem;
          color: #0076ff;
          text-decoration: none;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: center;
          border: none;
          background: transparent;
        }
      }
    }

  }
}

</style>

<script>
import { mapActions } from "vuex"
export default {
  props: {
    isActive: {
      type: Boolean,
      default: false,
    }
  },
  data() {
    return {
      showLogoutModal: false,
    }
  },
  methods: {
    logoutModal( status = true ) {
      this.showLogoutModal = status;
    },
    logoutConfirm() {
      this.showLogoutModal = false;
      this.logout(false);
    },
    ...mapActions( [ 'logout' ] )
  }
}
</script>