<template>
  <header class="l-header" :data-type="isLoggedIn ? type : ''" role="banner">
    <div class="l-headerContent">
      <div class="l-headerContent__inner">
        <h1 class="m-headerLogo">
          <a :href="isLoggedIn ? '/home' : '/index'">
            <img src="~assets/images/logo_site.svg" alt="ポストに届く1DAYレンズ定期便 LENS" />
          </a>
        </h1>
        <ul v-if="type === 'login' && isLoggedIn" class="m-headerUtil">
          <li>
            <nuxt-link to="/share/invite/explanation" class="m-headerUtil__share">
              <img src="~assets/images/icn_share.svg" alt />
            </nuxt-link>
          </li>
          <li>
            <a
              href="#"
              class="m-headerUtil__hmenu js-hmenu"
              :aria-expanded="menuActive ? 'true' : 'false'"
              aria-controls="hmenu"
              @click="toggleMenu"
            >
              <span class="m-headerUtil__line">
                <span>open</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <HeaderMenu v-if="type === 'login'" :isActive="menuActive" />
  </header>
</template>

<style lang="scss" scoped>
.l-header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &[data-type='login'] {
    .l-headerContent__inner {
      justify-content: space-between;
    }
  }
}
.l-headerContent {
  position: relative;
  z-index: 2;
  border-top: 4px solid $brand_color;
  border-bottom: 1px solid #ececec;
  background: #fff;
}
.l-headerContent__inner {
  max-width: 100%;
  height: 56px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include more-than--sp2 {
    max-width: 630px;
  }
}
.m-headerLogo {
  width: 80px;
  margin: 0;

  a {
    display: block;

    img {
      display: block;
      width: 80px;
      height: 22px;
    }
  }
}
.m-headerUtil {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0 0 0 25px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.m-headerUtil__share {
  width: 25px;
  display: block;
}

.m-headerUtil__hmenu {
  display: block;
  width: 20px;
  height: 17px;
  display: block;
  position: relative;
  top: -1px;

  &[aria-expanded='true'] {
    .m-headerUtil__line {
      background: transparent;

      &::before,
      &::after {
        top: 0;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }
  }
}

.m-headerUtil__line {
  width: 20px;
  height: 2px;
  margin: 0 0 0 -10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.3s all ease;
  display: block;
  background: #000;

  &::before,
  &::after {
    width: 20px;
    height: 2px;
    position: absolute;
    left: 0;
    transition: 0.3s all ease;
    background: #000;
    content: '';
  }

  &::before {
    top: -8px;
  }

  &::after {
    top: 8px;
  }

  span {
    text-indent: -999em;
    position: absolute;
    z-index: -1;
  }
}
</style>
<style lang="scss">
body {
  .l-contentBody {
    opacity: 1;
    transition: all 0.5s;
    transition-delay: 0.3s;
  }
  &.is-menu-active {
    .l-contentBody {
      opacity: 0;
      transition: all 0.3s;
    }
  }
}
</style>
<script>
import HeaderMenu from '~/components/HeaderMenu.vue'
import { mapGetters } from 'vuex'

export default {
  props: {
    type: String
  },
  components: {
    HeaderMenu
  },
  data() {
    return {
      menuActive: false,
      protocol: location.protocol,
      host: location.host
    }
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'isLoggedIn'
    })
  },
  methods: {
    toggleMenu(e) {
      e.preventDefault()

      this.menuActive = !this.menuActive

      if (this.menuActive) {
        document.body.classList.add('is-menu-active')
      } else {
        document.body.classList.remove('is-menu-active')
      }
    }
  },

  watch: {
    '$route.path': function(to, from) {
      if (to !== from) {
        this.menuActive = false
        document.body.classList.remove('is-menu-active')
      }
    }
  }
}
</script>
