<template>
  <div>
    <ul class="m-listBtn" data-type="share">
      <li>
        <div class="m-listBtn__txt"><span>あなたの招待コード</span><span>{{ invite_code }}</span></div>
        <button type="button" class="m-btn" data-type="share" @click="isActive = true"><span>招待コードをご友人に送る</span></button>
        <div v-if="invite_qty >= 0" class="m-listBtn__link">
            <nuxt-link to="/share/invite/history">ご友人招待：<em>{{ invite_qty }}人</em></nuxt-link>
        </div>
      </li> 
      <!-- /.m-listBtn -->
  </ul>
  
  <div   v-bind:class="{ 'is-active': isActive, 'm-modal':true }" id="share">
   <div class="m-modal__content" data-type="share">
      <p class="m-modal__ttl"><em>シェアする</em></p>
      <ul class="m-modal__list">
         <li><a :href="`https://twitter.com/intent/tweet?text=LENS%EF%BD%9C%E3%83%9D%E3%82%B9%E3%83%88%E3%81%AB%E5%B1%8A%E3%81%8F1DAY%E3%83%AC%E3%83%B3%E3%82%BA%E5%AE%9A%E6%9C%9F%E4%BE%BF%0Ahttp%3A%2F%2Fwww.lens.co.jp%0A500%E5%86%86%E3%81%A7%E3%81%8A%E8%A9%A6%E3%81%97%E8%B3%BC%E5%85%A5%E3%80%82%0A%EF%BC%88%E6%8B%9B%E5%BE%85%E3%82%B3%E3%83%BC%E3%83%89%EF%BC%9A${invite_code}%EF%BC%89&url=%20`" rel="nofollow" data-icon="twitter" target="_blank"><span>Twitter</span></a></li>
         <li><a :href="`https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.lens.co.jp%2F&quote=LENS%EF%BD%9C%E3%83%9D%E3%82%B9%E3%83%88%E3%81%AB%E5%B1%8A%E3%81%8F1DAY%E3%83%AC%E3%83%B3%E3%82%BA%E5%AE%9A%E6%9C%9F%E4%BE%BF%0Ahttp%3A%2F%2Fwww.lens.co.jp%0A500%E5%86%86%E3%81%A7%E3%81%8A%E8%A9%A6%E3%81%97%E8%B3%BC%E5%85%A5%E3%80%82%0A%EF%BC%88%E6%8B%9B%E5%BE%85%E3%82%B3%E3%83%BC%E3%83%89%EF%BC%9A${invite_code}%EF%BC%89&src=sdkpreparse`" data-icon="facebook" target="_blank"><span>Facebook</span></a></li>
         <li><a :href="`https://line.me/R/msg/text/?LENS｜%E3%83%9D%E3%82%B9%E3%83%88%E3%81%AB%E5%B1%8A%E3%81%8F1DAY%E3%83%AC%E3%83%B3%E3%82%BA%E5%AE%9A%E6%9C%9F%E4%BE%BF%0Ahttp://www.lens.co.jp%0A500%E5%86%86%E3%81%A7%E3%81%8A%E8%A9%A6%E3%81%97%E8%B3%BC%E5%85%A5%E3%80%82%0A%EF%BC%88%E6%8B%9B%E5%BE%85%E3%82%B3%E3%83%BC%E3%83%89%EF%BC%9A${invite_code}%EF%BC%89`" data-icon="line" target="_blank"><span>LINE</span></a></li>
         <li><a :href="`mailto:?subject=LENS｜ポストに届く1DAYレンズ定期便&body=LENS｜ポストに届く1DAYレンズ定期便%0Ahttp://www.lens.co.jp%0A500円でお試し購入。%0A（招待コード：${invite_code}）%0A`" data-icon="mail"><span>メール</span></a></li>
         <!-- /.m-modal__list -->
      </ul>
      <a href="#" class="m-modal__close js-modalClose" @click="isActive=false"><span>閉じる</span></a>
      <!-- /.m-modal__content -->
   </div>
   <div class="m-modal__layer" @click="isActive=false"></div>
   <!-- /.m-modal -->
</div>  
  </div>
</template>

<style lang="scss" scoped>

.m-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease;
}
.m-modal.is-active {
    z-index: 1000;
    opacity: 1;
    visibility: initial;
}
.m-modal__layer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.6;
    background: #000;
}


.m-modal__content[data-type="share"] {
    width: 100%;
    max-width: 380px;
    margin: 15px;
    padding: 25px 25px 15px;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 3px #999;
    background: #fff;
}
.m-modal__content[data-type="share"] .m-modal__ttl {
    margin: -25px -25px 0;
    padding: 15px 25px;
    font-size: 1.6rem;
    color: #6d6d6d;
    line-height: 1;
    text-align: left;
    display: block;
    border-bottom: 1px solid #ececec;
}
.m-modal__content[data-type="share"] .m-modal__ttl em {
    font-weight: normal;
}
.m-modal__content[data-type="share"] .m-modal__list {
    border-bottom: 1px solid #ececec;
    margin: 0;
    padding: 0;
}
.m-modal__content[data-type="share"] .m-modal__list li {
    border-top: 1px solid #ececec;
}
.m-modal__content[data-type="share"] .m-modal__list li:first-child {
    border-top: none;
}
.m-modal__content[data-type="share"] .m-modal__list a {
    min-height: 70px;
    padding: 0 42px 0 0;
    line-height: 1;
    text-decoration: none;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: content-box;
    border: none;
    background: none;
}
.m-modal__content[data-type="share"] .m-modal__list a::before {
    width: 32px;
    height: 32px;
    margin: -16px 0 0;
    position: absolute;
    top: 50%;
    right: 0;
    background-size: 32px 32px;
    content: "";
}
.m-modal__content[data-type="share"] .m-modal__list a span {
    display: block;
}
.m-modal__content[data-type="share"] .m-modal__list a[data-icon="twitter"]::before {
    background-image: url(../assets/img/common/icn_share_twitter.png);
}
.m-modal__content[data-type="share"] .m-modal__list a[data-icon="facebook"]::before {
    background-image: url(../assets/img/common/icn_share_facebook.png);
}
.m-modal__content[data-type="share"] .m-modal__list a[data-icon="line"]::before {
    background-image: url(../assets/img/common/icn_share_line.png);
}
.m-modal__content[data-type="share"] .m-modal__list a[data-icon="mail"]::before {
    background-image: url(../assets/img/common/icn_share_mail.png);
}
.m-modal__content[data-type="share"] .m-modal__close {
    color: #3fb8ec;
    line-height: 1;
    text-decoration: none;
    position: absolute;
    top: 15px;
    right: 25px;
}
.m-modal__content[data-type="share"] .m-modal__close:hover,
.m-modal__content[data-type="share"] .m-modal__close:focus,
.m-modal__content[data-type="share"] .m-modal__close:active {
    opacity: 0.7;
    color: #3fb8ec;
    text-decoration: underline;
}
@media screen and (max-width: 767px) {
    
    .m-modal__content[data-type="share"] {
        max-width: inherit;
        margin: 0;
        padding-bottom: 0;
    }
    .m-modal#share {
        align-items: flex-end;
    }
    .m-modal#share.is-active .m-modal__content {
        bottom: 0;
    }
    .m-modal#share .m-modal__content {
        transition: 0.3s all ease;
        bottom: -100%;
    }
}

</style>

<script>
export default { 
    props: ['invite_code', 'invite_qty'],    
 

  data() {
    return{
      isActive: false,     
    }
    
  },  
}

</script>