<template>
  <div class="toggle-list">
    <div
      v-for="(item, index) in items"
      v-bind:key="index"
      @click="toggle( index )"
      class="toggle-box"
      :class="index == openItem ? 'is-open' : ''"
    >
      <p class="question">{{item.question}}</p>
      <p class="answer" :class="index == openItem ? 'is-open' : ''">{{ item.answer}}</p>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.toggle-list {
  width: 56%;
  margin: 0 auto;

  @include less-than--sp {
    width: 90%;
    margin: 0 auto;
  }

  .toggle-box {
    visibility: visible;
    position: relative;
    width: 100%;
    cursor: pointer;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      right: 20px;
      background: #cacaca;
      width: 2px;
      height: 20px;

      @include less-than--sp {
        top: 2px;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 19px;
      right: 11px;
      background: #cacaca;
      width: 20px;
      height: 2px;

      @include less-than--sp {
        top: 11px;
      }
    }

    &.is-open {
      &:before {
        display: none;
      }
    }

    p {
      &.question {
        overflow: hidden;
        font-size: 24px;
        border-bottom: 1px solid #f7f7f7;
        padding: 0 5% 10px;

        @include less-than--sp {
          font-size: 16px;
          width: 100%;
          padding-bottom: 10px;
          padding-right: 40px;
          box-sizing: border-box;
        }

        &::before {
          content: 'Q';
          display: block;
          font-size: 40px;
          color: #cacaca;
          float: left;
          margin-top: -14px;
          margin-right: 20px;

          @include less-than--sp {
            font-size: 24px;
            margin-top: -6px;
            margin-right: 4%;
          }
        }
      }

      &.answer {
        background: #fafafa;
        height: 0;
        overflow: hidden;
        padding: 0 5%;
        font-size: 20px;
        position: relative;

        &.is-open {
          padding: 4% 5% 4% 11%;
          height: auto;
        }

        @include less-than--sp {
          padding-left: 13% !important;
          font-size: 16px;
        }

        &::before {
          content: 'A';
          display: block;
          font-size: 40px;
          color: #cacaca;
          position: absolute;
          margin-top: -14px;
          height: 100%;
          left: 0;
          margin-left: 5%;

          @include less-than--sp {
            font-size: 24px;
            margin-top: -3px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
</style>

<script>
export default {
  props: {
    items: Array
  },
  data: () => ({
    openItem: -1
  }),
  methods: {
    toggle(index) {
      this.openItem = index
    }
  }
}
</script>