<template>
  <div class="explanation">
    <main class="l-content" role="main">
      <div class="l-content__inner">
        <div class="l-contentBody">
          <div class="m-imgShare">
              <img src="~/assets/img/common/img_share.jpg" alt="">
              <!-- /.m-imgShare -->
          </div>

          <p class="m-txtInvite" data-type="noimg">ご友人招待で<em>1ヶ月分無料</em></p>

          <p class="m-txt" data-align="center-left">招待コードを送ってご友人をLENSにご招待ください。
              <br class="is-pc">あなたもご友人も1ヶ月分（30日分）の代金が無料になります。</p>

          <p class="m-txt" data-align="center-left" data-margin="s">
            <nuxt-link to="/share/invite/" class="m-linkInfo">
              <span>ご友人招待について</span>
            </nuxt-link>
          </p>

      
          <Share :invite_code="invite_code" :invite_qty="invite_qty"></Share>            
          <!-- /.l-contentBody -->
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import Share from '~/components/Share.vue'
import { mapGetters, mapActions } from "vuex"

export default {
  layout: 'menu-header',
  components: {
    Share,    
  },
  data() {
    return {      
        invite_code: '',
        invite_qty: 0    
    }
  },
  mounted() {
    this.faceInviteCode();
    this.fetchInviteHistory();
  },
  methods: {
    ...mapActions({
      faceInviteCode: 'user/faceInviteCode',
      fetchInviteHistory: 'invitehistory/fetchInviteHistory',
      logout: 'logout',
    }),
  },
  computed: { 
    ...mapGetters( {
      inviteCode: 'user/inviteCode', 
      inviteHistory: 'invitehistory/inviteHistory',
      responseStatusCode: 'invitehistory/responseStatusCode',
    } ),
  },
  watch:{
    inviteCode(to) {
      this.invite_code = to.invite_code;
    },
    inviteHistory(to){
      this.invite_qty = to.length;      
    },
    'responseStatusCode': function(){
      if (this.responseStatusCode == 401) this.logout(true)
    },
  }
}
</script>
<style lang="scss" scoped></style>
