<template>
  <div class="share">
    <main class="l-content" role="main">
      <div class="l-content__inner">
        <div class="l-contentBody">
          <div class="m-txtShare">

              <p v-if="isStatusInProgress" class="is-skeleton">
              </p>
              <p v-if="!isStatusInProgress" class="m-txtShare__ttl">
                  これまで招待した人数
                  <em>{{ inviteHistory.length }}<span>名</span></em>
                  <!-- /.m-txtShare__ttl -->
              </p>
              <p v-if="isStatusInProgress" class="is-skeleton">
              </p>
              <p v-if="!isStatusInProgress" class="m-txtShare__link">
                <nuxt-link to="/mypage/history">割引の適用履歴</nuxt-link>
              </p>
              <!-- /.m-txtShare -->
          </div>

          <ul class="m-listShare" data-type="history">
              <li v-for="(history,index) in inviteHistory" :key="index" class="m-listShare__item">
                  <div class="m-listShare__inner">
                      <time v-if="isStatusInProgress"><div class="is-skeleton" style="width:100px"></div></time>
                       <!-- 2017年4月17日 -->
                      <time v-if="!isStatusInProgress" datetime="2017-04-17" class="m-listShare__date">{{ $moment( history['invite_date'] ).format('YYYY年MMMMDD日') }}</time>
                      <div v-if="isStatusInProgress" class="is-skeleton" style="width:100px"></div>
                      <div v-if="!isStatusInProgress" class="m-listShare__txt">ご友人が利用開始しました</div>
                      <!-- /.m-listShare__inner -->
                  </div>
                  <!-- /.m-listShare__item -->
              </li>
              <!-- /.m-listShare -->
          </ul>          
          <!-- /.l-contentBody -->
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  layout: 'menu-header',  
  computed: { 
    ...mapGetters( {
      inviteHistory: 'invitehistory/inviteHistory',
      isStatusInProgress: 'invitehistory/isInProgress',
      responseStatusCode: 'invitehistory/responseStatusCode',
    } ),
  },
  methods: {
    ...mapActions({
      fetchInviteHistory: 'invitehistory/fetchInviteHistory',
      logout: 'logout',
    }),
  },
  mounted() {
    this.fetchInviteHistory()
  },
  watch: {
    'responseStatusCode': function(){
      if (this.responseStatusCode == 401) this.logout(true)
    },
  }
} 
</script>
<style lang="scss" scoped>
.m-listShare{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 19px;
}
.m-txtShare__link a{
  font-size: 12px;
  line-height: 18px;
}
.m-txtShare__ttl {
  margin-bottom: 0;
}
.m-txtShare__ttl em {
    margin: 10px 0 0;
    font-size: 50px;
    font-weight: normal;
    color: #3FB8EC;
    display: block;
    font-style: normal;
    line-height: 67px;
}

.m-txtShare__link {
    margin: 0px auto 0;    
}
.m-listShare[data-type="flow"] {
  margin: 22px 0 0;
  border-bottom: 1px solid #ececec;
}
.m-listShare[data-type="flow"] .m-listShare__item {
  min-height: 65px;
  padding: 10px 20px 10px 65px;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-top: 1px solid #ececec;
}
.m-listShare[data-type="flow"] .m-listShare__num {
  margin: -.5em 0 0;
  font-weight: normal;
  color: #3FB8EC;
  line-height: 1;
  display: block;
  position: absolute;
  top: 50%;
  left: 25px;
  font-style: normal;
}
.m-listShare[data-type="flow"] .m-listShare__txt {
  line-height: 1.2;
}
.m-listShare[data-type="history"] {
  border-top: 1px solid #ececec;
}
.m-listShare[data-type="history"] .m-listShare__item {
  border-bottom: 1px solid #a9c5d3;
}
.m-listShare[data-type="history"] .m-listShare__inner {
  padding: 15px 25px 12px 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  position: relative;
}
.m-listShare[data-type="history"] .m-listShare__inner:hover,
.m-listShare[data-type="history"] .m-listShare__inner:focus,
.m-listShare[data-type="history"] .m-listShare__inner:active {
  text-decoration: none;
}
.m-listShare[data-type="history"] .m-listShare__inner::after {
  width: 13px;
  height: 13px;
  margin: -7px 0 0;
  transition: .3s all ease;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 0;
  border-top: 1px solid #A9C5D3;
  border-right: 1px solid #A9C5D3;
  transform: rotate(45deg);
  content: '';
}

.m-listShare[data-type="history"] .m-listShare__date {
  min-width: 140px;
  font-size: 12px;
  line-height: 1.5;
  display: block;
}

.m-listShare[data-type="history"] .m-listShare__txt {
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .m-listShare[data-type="flow"] {
    margin: 12px -15px 0
  }
  .m-listShare[data-type="flow"] .m-listShare__item {
    padding: 10px 15px 10px 60px;
  }
  .m-listShare[data-type="history"] {
    margin: 0 -15px;
  }
  .m-listShare[data-type="history"] .m-listShare__item {
    margin: 0 15px;
  }
  .m-listShare[data-type="history"] .m-listShare__date {
    min-width: 120px;
  }
}
</style>
