<template>
  <div class="share">
    <main class="l-content" role="main">
      <div class="l-content__inner">
        <div class="l-contentBody">
          <p class="m-txt">ご友人招待は以下の流れで割引が適用されます。</p>
            <ol class="m-listShare" data-type="flow">
                <li class="m-listShare__item"><em class="m-listShare__num">1</em>
                    <div class="m-listShare__txt">ご友人にSNS等で招待コードを送る</div>
                    <!-- /.m-listShare__item -->
                </li>
                <li class="m-listShare__item"><em class="m-listShare__num">2</em>
                    <div class="m-listShare__txt">ご友人が初回お試し注文時に招待コードを使用する</div>
                    <!-- /.m-listShare__item -->
                </li>
                <li class="m-listShare__item"><em class="m-listShare__num">3</em>
                    <div class="m-listShare__txt">お試し後、ご友人が定期サービスを利用開始すると招待成立</div>
                    <!-- /.m-listShare__item -->
                </li>
                <li class="m-listShare__item"><em class="m-listShare__num">4</em>
                    <div class="m-listShare__txt">あなたもご友人も次回ご注文時に30日分の代金が割引かれます</div>
                    <!-- /.m-listShare__item -->
                </li>
                <!-- /.m-listShare -->
            </ol>                  
          <!-- /.l-contentBody -->
        </div>
      </div>
    </main>
  </div>
</template>

<script>
export default {
  layout: 'menu-header'
}
</script>
<style lang="scss" scoped>
.m-listShare{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 19px;
}
.m-txtShare__link a{
  font-size: 12px;
  line-height: 18px;
}
.m-txtShare__ttl {
  margin-bottom: 0;
}
.m-txtShare__ttl em {
    margin: 10px 0 0;
    font-size: 50px;    
    font-style: normal;
    line-height: 67px;
}

.m-txtShare__link {
    margin: 0px auto 0;    
}
.m-listShare[data-type="flow"] {
  margin: 22px 0 0;
  border-bottom: 1px solid #ececec;
}
.m-listShare[data-type="flow"] .m-listShare__item {
  min-height: 65px;
  padding: 10px 20px 10px 65px;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-top: 1px solid #ececec;
}
.m-listShare[data-type="flow"] .m-listShare__num {
  margin: -.5em 0 0;
  font-weight: normal;
  color: #3FB8EC;
  line-height: 1;
  display: block;
  position: absolute;
  top: 50%;
  left: 25px;
  font-style: normal;
}
.m-listShare[data-type="flow"] .m-listShare__txt {
  line-height: 1.2;
}
.m-listShare[data-type="history"] {
  border-top: 1px solid #ececec;
}
.m-listShare[data-type="history"] .m-listShare__item {
  border-bottom: 1px solid #a9c5d3;
}
.m-listShare[data-type="history"] .m-listShare__inner {
  padding: 15px 25px 12px 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  position: relative;
}
.m-listShare[data-type="history"] .m-listShare__inner:hover,
.m-listShare[data-type="history"] .m-listShare__inner:focus,
.m-listShare[data-type="history"] .m-listShare__inner:active {
  text-decoration: none;
}
.m-listShare[data-type="history"] .m-listShare__inner::after {
  width: 13px;
  height: 13px;
  margin: -7px 0 0;
  transition: .3s all ease;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 0;
  border-top: 1px solid #A9C5D3;
  border-right: 1px solid #A9C5D3;
  transform: rotate(45deg);
  content: '';
}

.m-listShare[data-type="history"] .m-listShare__date {
  min-width: 140px;
  font-size: 12px;
  line-height: 1.5;
  display: block;
}

.m-listShare[data-type="history"] .m-listShare__txt {
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .m-listShare[data-type="flow"] {
    margin: 12px -15px 0
  }
  .m-listShare[data-type="flow"] .m-listShare__item {
    padding: 10px 15px 10px 60px;
  }
  .m-listShare[data-type="history"] {
    margin: 0 -15px;
  }
  .m-listShare[data-type="history"] .m-listShare__item {
    margin: 0 15px;
  }
  .m-listShare[data-type="history"] .m-listShare__date {
    min-width: 120px;
  }
}
</style>
