<template>
  <div class="mypage_wrapper inner_wrapper">
    <main class="l-content" role="main">
      <div class="l-content__inner">
        <div class="l-contentBody">
          <div class="m-hdg1">
            <h1 class="m-hdg1__hdg">お知らせ</h1>
            <!-- /.m-hdg1 -->
          </div>

          <article class="m-article">
            <div class="m-article__head">
              <div class="m-article__ttl">
                <div class="is-skeleton" style="width: 50px; height: 10px; margin-bottom: 8px;" v-if="isInProgress"></div>
                <time :datetime="news && news.created_at"  v-if="! isInProgress">{{ $moment( news && news.created_at ).format('YYYY/MM/DD') }}</time>
                <div class="is-skeleton" style="width: 70%;" v-if="isInProgress"></div>
                <em  v-if="! isInProgress">{{ news && news.title }}</em>
                <!-- /.m-article__ttl -->
              </div>
              <!-- /.m-article__head -->
            </div>

            <div class="is-skeleton" style="width: 100%; margin-bottom: 5px; margin-bottom: 20px;" v-if="isInProgress"></div>
            <div class="is-skeleton" style="width: 95%; margin-bottom: 5px;" v-if="isInProgress"></div>
            <div class="is-skeleton" style="width: 66%;" v-if="isInProgress"></div>
            <div class="m-article__body"  v-if="! isInProgress">
              {{ news && news.body }}
              <!-- /.m-article__body -->
            </div>
            <!-- /.m-article -->
          </article>
          <!-- /.l-contentBody -->
        </div>
        <!-- /.l-content__inner -->
      </div>
      <!-- /.l-content -->
    </main>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex"

export default {
  layout: 'menu-header',
  data() {
    return {
      news: {},
    };
  },
  beforeMount() {
    if ( isNaN( parseInt( this.$route.params.id ) ) ) {
      this.$router.push( '/mypage/news' )
    }
  },
  mounted() {
    if ( this.newsItems.length === 0 || this.newsItems[0].title === undefined ) {
      this.fetchNews();
    } else {
      this.news = this.newsItems[this.$route.params.id];
    }
  },
  methods: {
    ...mapActions( {
      fetchNews: 'news/fetchNews'
    } ),
  },
  computed: {
    ...mapGetters( {
      newsItems: 'news/getNewsItems',
      isInProgress: 'news/isInProgress',
      isError: 'news/isError',
    } )
  },
  watch: {
    newsItems( newNewsItems ) {
      this.news = this.newsItems[this.$route.params.id];
    },
    '$route.params.id': function( newId ) {
      this.news = this.newsItems[newId];
    }
  }
}
</script>

<style lang="scss" scoped>
.inner_wrapper {
  font-size: 14px;
}

.m-article__head {
  margin: 0 0 20px;
}
.m-article__body {
  margin: 20px 0 0;
}
.m-article__ttl time {
  font-size: 1.2rem;
  color: #6d6d6d;
  line-height: 1;
  display: block;
}
.m-article__ttl em {
  margin: 8px 0 0;
  font-size: 2rem;
  font-weight: normal;
  color: #000;
  line-height: 1.2;
  display: block;
}
</style>
