<template>
  <div class="mypage_wrapper inner_wrapper">
    <main class="l-content" role="main">
      <div class="l-content__inner">
        <div class="l-contentBody">
          <div class="m-hdg1">
            <h1 class="m-hdg1__hdg">お知らせ</h1>
          </div>

          <ul class="m-listNews">

            <li class="m-listNews__item" v-for="(newsItem, index) in newsItems" :key="index">
              <nuxt-link :to="'/mypage/news/' + index" class="m-listNews__inner">
                <div class="is-skeleton" style="width: 50px; height: 10px; margin-bottom: 7px;" v-if="isInProgress"></div>
                <time :datetime="newsItem.created_at" class="m-listNews__date" v-if="! isInProgress">{{ $moment( newsItem.created_at ).format('YYYY/MM/DD') }}</time>
                <div class="is-skeleton" style="width: 70%;" v-if="isInProgress"></div>
                <div class="m-listNews__txt" v-if="! isInProgress">{{ newsItem.title }}</div>
              </nuxt-link>
            </li>

          </ul>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex"
export default {
  layout: 'menu-header',
  mounted() {
    this.fetchUser();
    this.fetchNews();
  },
  methods: {
    ...mapActions( {
      fetchNews: 'news/fetchNews',
      fetchUser: 'user/fetchUser',
      logout: 'logout',
    })
  },
  computed: {
    ...mapGetters( {
      newsItems: 'news/getNewsItems',
      isInProgress: 'news/isInProgress',
      isError: 'news/isError',
      responseStatusCode: 'user/responseStatusCode',
    })
  },
  watch: {
    'responseStatusCode': function(){
      if (this.responseStatusCode == 401) this.logout(true)
    },
  },
}
</script>

<style lang="scss" scoped>
.inner_wrapper {
  font-size: 14px;
}
.m-listNews {
  padding: 0;
}
.m-listNews__item {
  border-bottom: 1px solid #a9c5d3;
}
.m-listNews__item:first-child .m-listNews__inner {
  margin-top: -15px;
}
.m-listNews__inner {
  padding: 15px 25px 12px 0;
  display: block;
  position: relative;
}
.m-listNews__inner:hover,
.m-listNews__inner:focus,
.m-listNews__inner:active {
  text-decoration: none;
}
.m-listNews__inner::after {
  width: 13px;
  height: 13px;
  margin: -7px 0 0;
  transition: 0.3s all ease;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 0;
  border-top: 1px solid #a9c5d3;
  border-right: 1px solid #a9c5d3;
  transform: rotate(45deg);
  content: '';
}
.m-listNews__date {
  font-size: 1.2rem;
  color: #6d6d6d;
  line-height: 1;
  display: block;
}
.m-listNews__txt {
  margin: 5px 0 0;
  line-height: 1.5;
}
</style>
