html {
  font-size: 10px;
  height: 100%;
}

html,
body {
  min-height: 100%;
}

body {
  color: #000000;
  font-family: Hiragino Sans, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',
    'メイリオ', Meiryo, sans-serif;
  font-weight: 300;
  font-size: 16px;
  height: 100%;
  > div {
    height: 100%;
    > div {
      height: 100%;
    }
  }

  &.is-menu-active {
    overflow: hidden;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #000;
}

select::-ms-expand {
  display: none;
}
.m-frmTextbox {
  margin: 8px 0 0;
}
.m-listForm__credit {
  position: relative;
}
.m-listForm__card {
  position: absolute;
  top: -3px;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.m-listForm__card li {
  margin: 0 0 0 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.m-listForm__card li:first-child {
  margin-left: 0;
}
.m-frmTextbox input {
  width: 100%;
  height: 56px;
  padding: 0 15px;
  font-size: 18px;
  line-height: 56px;
  display: block;
  border-radius: 5px;
  border: 1px solid #a9c5d3;
  &::placeholder {
    color: #cccccc;
  }

  &.is-invalid {
    border: 1px solid #ff7979;
  }
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s all ease;
}

img {
  margin: 0px !important;
  padding: 0px !important;
  max-width: 100%;
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.l-content {
  width: 100%;
  max-width: 630px;
  min-height: calc(100vh - 200px);
  margin: 30px auto 0;
  padding: 0 15px;
}

.l-content__inner {
  min-height: calc(100vh - 200px);
  box-shadow: 0 0 5px #eee;
  border: 1px solid #ececec;
  background: #fff;
}

.l-contentBody {
  padding: 25px;
}

.l-contentBody > *:not(.m-hdg1):not(.m-txtComplete):first-child {
  margin-top: 0 !important;
}

.l-contentBody.is-active {
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .l-content {
    max-width: 100%;
    min-height: initial;
    margin-top: 0;
    padding: 0;
  }
  .l-content__inner {
    min-height: initial;
    box-shadow: none;
    border: none;
  }
  .l-contentBody {
    padding: 15px;
    opacity: 1 !important;
    display: block !important;
    position: static !important;
  }
}

@media screen and (max-width: 767px) {
  .is-fixed {
    overflow: hidden;
  }
}

.m-hdg1 {
  margin: -25px -25px 25px;
  padding: 12px 25px;
}

.m-hdg1 + *:not(.m-txtComplete) {
  margin-top: 25px !important;
}

.m-hdg1__hdg {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  line-height: 1;
  color: #6d6d6d;
  text-align: center;
  display: block;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .m-hdg1 {
    margin: -15px -15px 15px;
    padding: 12px 15px;
  }
  .m-hdg1 + *:not(.m-txtComplete) {
    margin-top: 15px !important;
  }
  .m-hdg1__hdg {
    text-align: left;
  }
}

.m-hdg2 {
  margin: 25px 0 0;
}

.m-hdg2 + * {
  margin-top: 12px !important;
}

.m-hdg2__hdg {
  font-weight: 400;
  color: #3fb8ec;
  font-size: 14px;
  line-height: 19px;
}

.m-listForm {
  margin: 25px 0 0;
  list-style: none;
  padding: 0px;
}

.m-listForm > li {
  margin: 8px 0 0;
}

.m-listForm > li:first-child {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .m-listForm {
    margin-top: 15px;
  }
}

@media screen and (max-width: 480px) {
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #000;
}

select::-ms-expand {
  display: none;
}

.m-frmSelect {
  margin: 8px 0 0;
  position: relative;
}

.m-frmSelect::after {
  width: 15px;
  height: 15px;
  margin: -12px 0 0;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 0;
  border-top: 1px solid #a9c5d3;
  border-right: 1px solid #a9c5d3;
  transform: rotate(135deg);
  content: '';
}

.m-frmSelect select {
  width: 100%;
  height: 56px;
  padding: 0 50px 0 15px;
  font-size: 18px;
  color: #ccc;
  line-height: 24px;
  position: relative;
  z-index: 1;
  display: block;
  border-radius: 5px;
  border: 1px solid #a9c5d3;
  background: transparent;

  &.is-invalid {
    border: 1px solid #ff7979;
  }
}

.m-frmSelect select.is-active {
  color: #000;
}

.m-listForm__credit {
  position: relative;
}
.m-listBtn {
  margin: 30px -25px 0;
  padding: 30px 25px 0;
  list-style: none;
}

.m-listBtn li {
  width: 100%;
  max-width: 400px;
  margin: 15px auto 0;
}

.m-listBtn li:first-child {
  margin-top: 0;
}

.m-listBtn[data-type='share'] .m-listBtn__txt {
  width: 100%;
  margin: 0 0 3px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.m-listBtn[data-type='share'] .m-listBtn__link {
  margin: 20px 0 0;
  text-align: center;
}

.m-listBtn[data-type='share'] .m-listBtn__link a {
  padding: 0 10px 0 0;
  text-decoration: underline;
  position: relative;
}

.m-listBtn[data-type='share'] .m-listBtn__link a::after {
  width: 6px;
  height: 6px;
  margin: -3px 0 0;
  transition: 0.3s all ease;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 0;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  content: '';
}

.m-listBtn[data-type='share'] .m-listBtn__link a:hover,
.m-listBtn[data-type='share'] .m-listBtn__link a:focus,
.m-listBtn[data-type='share'] .m-listBtn__link a:active {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .m-listBtn {
    margin: 15px -15px 0;
    padding: 15px 15px 0;
  }
  .m-listBtn li {
    max-width: inherit;
    margin-top: 10px;
  }
  .m-listBtn[data-type='share'] .m-listBtn__link {
    margin-top: 15px;
  }
}

.m-btn {
  width: 100%;
  min-height: 56px;
  line-height: 56px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: none;
  background: #3fb8ec;
}

.m-btn:hover,
.m-btn:focus,
.m-btn:active {
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
}

.m-btn[data-color='red'] {
  background: #ec3f3f;
}

.m-btn[data-type='share'] {
  padding: 0 20px;
  position: relative;
}

.m-btn[data-type='share'] span {
  position: relative;
  left: -50px;
}

.m-btn[data-type='share'] span::after {
  width: 97px;
  height: 16px;
  margin: -8px 0 0;
  position: absolute;
  top: 50%;
  right: -112px;
  background: url(../../img/common/icn_social.png);
  background-size: 97px 16px;
  content: '';
}

.m-btn:disabled {
  opacity: 0.3;
  pointer-events: none;
}

@media screen and (max-width: 320px) {
  .m-btn[data-type='share'] {
    font-size: 1.4rem;
  }
  .m-btn[data-type='share'] span {
    left: -40px;
  }
  .m-btn[data-type='share'] span::after {
    width: 78px;
    height: 13px;
    margin-top: -7px;
    right: -90px;
    background-size: 78px 13px;
  }
}

.m-frmLabel {
  margin: 25px 0 12px;
  font-size: 13px;
  font-weight: 400;
  color: #6d6d6d;
  line-height: 1;
  display: block;
}

.m-frmLabel + * {
  margin-top: 12px !important;
}

.m-txt,
.m-txtL {
  margin: 20px 0 0;
}

.m-txt[data-margin='s'],
.m-txtL[data-margin='s'] {
  margin-top: 10px;
}

.m-txtL {
  margin: 15px 0 0;
  font-size: 1.6rem;
}

.m-txt[data-align='center'],
.m-txtL[data-align='center'] {
  text-align: center;
}

.m-txt[data-align='center-left'],
.m-txtL[data-align='center-left'] {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .m-txt[data-align='center-left'],
  .m-txtL[data-align='center-left'] {
    text-align: left;
  }
}


.m-txtComplete {
  height: 75px;
  margin: -25px -25px 25px;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #a9c5d3;
}

.m-txtComplete em {
  font-weight: normal;
  position: relative;
  font-style: normal;
}

.m-txtComplete em::after {
  width: 16px;
  height: 8px;
  margin: -8px 0 0;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: rotate(-45deg);
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  content: '';
}

.m-txtComplete[data-type='share'] .m-txtComplete__txt {
  margin: 0;
  text-align: center;
}

.m-txtComplete[data-type='share'] .m-txtComplete__txt em {
  font-size: 2rem;
}

.m-txtComplete[data-type='share'] .m-txtComplete__txt em::after {
  display: none;
}

.m-txtComplete[data-type='share'] .m-txtComplete__txt span {
  margin: 10px 0 0;
  font-size: 1.4rem;
  line-height: 1.2;
  display: block;
}

@media screen and (max-width: 767px) {
  .m-txtComplete {
    height: 55px;
    margin: -15px -15px 15px;
  }
  .m-txtComplete[data-type='share'] {
    height: auto;
    padding: 15px;
    display: block;
  }
  .m-txtComplete[data-type='share'] .m-txtComplete__txt {
    text-align: left;
  }
}

.m-txtShare {
  padding: 15px 0 45px;
}

.m-txtShare__ttl {
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
}

.m-txtShare__ttl em {
  margin: 15px 0 0;
  font-size: 5rem;
  font-weight: normal;
  color: #3fb8ec;
  display: block;
}

.m-txtShare__ttl em span {
  padding: 0 0 0 3px;
  font-size: 1.6rem;
}

.m-txtShare__link {
  margin: 30px auto 0;
  text-align: center;
  display: table;
}

.m-txtShare__link a {
  padding: 0 10px 0 0;
  font-size: 1.3rem;
  line-height: 1;
  text-decoration: underline;
  display: block;
  position: relative;
}

.m-txtShare__link a::after {
  width: 6px;
  height: 6px;
  margin: -4px 0 0;
  transition: 0.3s all ease;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 0;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  transform: rotate(45deg);
  content: '';
}

.m-txtShare__link a:hover,
.m-txtShare__link a:focus,
.m-txtShare__link a:active {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .m-txtShare {
    padding: 0 0 25px;
  }
  .m-txtShare__link {
    margin-top: 20px;
  }
}

.m-txtWithdrawal + * {
  margin-top: 20px !important;
}

.m-txtWithdrawal em {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.2;
  color: #3fb8ec;
  display: block;
}

.m-link {
  color: #3fb8ec;
  text-decoration: underline;
}

.m-link:hover,
.m-link:focus,
.m-link:active {
  opacity: 0.7;
  color: #3fb8ec;
  text-decoration: none;
}

.m-linkLine {
  text-decoration: underline;
}

.m-linkLine:hover,
.m-linkLine:focus,
.m-linkLine:active {
  text-decoration: none;
}

.m-linkLine[href*='tel'] {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .m-linkLine[href*='tel'] {
    text-decoration: underline !important;
  }
  .m-linkLine[href*='tel']:hover,
  .m-linkLine[href*='tel']:focus,
  .m-linkLine[href*='tel']:active {
    text-decoration: none !important;
  }
}

.m-linkInfo {
  padding: 0 0 0 20px;
  text-decoration: underline;
  position: relative;
}

.m-linkInfo::before {
  width: 16px;
  height: 16px;
  margin: -8px 0 0;
  position: absolute;
  top: 50%;
  left: 0;
  background: url(../../img/common/icn_info.svg);
  background-size: 16px 16px;
  content: '';
}

.m-linkInfo:hover,
.m-linkInfo:focus,
.m-linkInfo:active {
  text-decoration: none;
}
.m-line {
  margin: 20px 0;
  border-top: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .m-line {
    margin: 20px -15px;
  }
}

*.is-pc {
  display: block
}

*.is-sp {
  display: none
}

@media screen and (max-width: 767px) {
  *.is-pc {
      display: none
  }
  *.is-sp {
      display: block
  }
}

.is-skeleton {
  height: 20px;
  background-color: #ededed;
  background-image: linear-gradient(90deg, #ededed 30%, #f5f5f5 50%, #ededed 70%);
  background-size: 200%;
  background-position: 0 0;
  animation-name: shimmer;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}