.page-wrapper {
  background-color: $body_bg;
  min-height: 100%;
  padding-top: 60px;
}

.container {
  width: 100%;
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .page-wrapper {
      background-color: #fff;
  }
}