.mypage_wrapper {
  .m-listBtn {
    li {
      &:first-child {
        margin-top: 0;
      }
      list-style: none;
      .m-btn[data-color="red"] {
        background: #EC3F3F
      }
    }
  }
 
  
  .m-txt {
    font-size: 14px;
  }
  @media screen and (max-width: 480px) {
    .m-txt {
      font-size: 12px;
    }
  }


  .m-listAlert {
    margin: 25px 0;
    padding: 25px 0;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.m-listAlert li {
    margin: 20px 0 0;
    padding: 0 0 0 35px;
    font-size: 1.6rem;
    line-height: 1.5;
    position: relative;
}

.m-listAlert li::before {
    width: 22px;
    height: 19px;
    position: absolute;
    top: 1px;
    left: 3px;
    background: url(../../img/common/icn_alert.svg);
    background-size: 22px 19px;
    content: '';
}

.m-listAlert li:first-child {
    margin-top: 0;
}

@media screen and (max-width: 767px) {
    .m-listAlert {
        margin: 25px -15px;
        padding: 25px 15px;
    }
}




.m-listForm>li {
  margin: 8px 0 0
}

.m-listForm>li:first-child {
  margin-top: 0
}

.m-listForm__credit {
  position: relative
}

// .m-listForm__card {
//   position: absolute;
//   top: -3px;
//   right: 0;
//   display: flex;
//   flex-wrap: nowrap;
//   align-items: center
// }

// .m-listForm__card li {
//   margin: 0 0 0 10px;
//   display: flex;
//   flex-wrap: nowrap;
//   align-items: center
// }

// .m-listForm__card li:first-child {
//   margin-left: 0
// }

.m-listForm[data-margin="s"] {
  margin-top: 10px
}

@media screen and (max-width: 767px) {
  .m-listForm {
      margin-top: 15px
  }
}

}
