.order-form{
    .m-gridTrial {
        margin: 0 0 0 -20px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center
    }
    
    .m-gridTrial__img,
    .m-gridTrial__body {
        width: 33.33333%;
        padding: 0 0 0 20px
    }
    
    .m-gridTrial__img {
        order: 2
    }
    
    .m-gridTrial__body {
        order: 1
    }
    
    .m-gridTrial__bodyInner {
        margin: 0 auto;
        display: table
    }
    
    .m-gridTrial__ttl {
        margin: 0 0 10px;
        padding: 0 0 10px;
        font-size: 1.6rem;
        text-align: center;
        border-bottom: 1px solid #000
    }
    
    .m-gridTrial__ttl em {
        font-size: 1.4rem;
        font-weight: normal;
        color: #3FB8EC;
        line-height: 1;
        display: block
    }
    
    .m-gridTrial__price {
        margin: 10px 0 0;
        font-size: 2.2rem;
        line-height: 1;
        text-align: right;
        text-align: center
    }
    
    .m-gridTrial__price em {
        padding: 0 5px 0 0;
        font-size: 55px;
        font-weight: normal;
        letter-spacing: -.05em
    }
    
    .m-gridTrial__txt {
        margin: 5px 0 0;
        font-size: 1.2em;
        line-height: 1;
        text-align: right
    }
    
    @media screen and (max-width: 767px) {
        .m-gridTrial {
            margin-left: -10px
        }
        .m-gridTrial__img,
        .m-gridTrial__body {
            width: 50%;
            padding-left: 10px
        }
        .m-gridTrial__ttl {
            margin-bottom: 5px;
            padding-bottom: 5px
        }
        .m-gridTrial__price {
            font-size: 1.8rem
        }
        .m-gridTrial__price em {
            font-size: 4rem
        }
    }
    .m-gridTrial__price em {
        font-family: 'Gothic A1', sans-serif;
        font-weight: 100
    }
}
.order-thanks{
    .m-txtInvite {
        margin: 0 0 20px;
        font-size: 20px;
        line-height: 1;
        text-align: center;
      }
      .m-txtInvite em {
        margin: 10px 0 0;
        font-size: 28px;
        font-weight: normal;
        color: #3fb8ec;
        display: block;
        position: relative;
      }
      .m-txtInvite em::after {
        width: 83px;
        height: 70px;
        margin: 45px auto 30px;
        display: block;
        background: url(../../img/common/inc_invite.svg);
        background-size: 83px 70px;
        content: '';
      }
      .m-txtInvite[data-type='noimg'] {
        margin: 25px 0 20px;
        font-size: 16px;
      }
      .m-txtInvite[data-type='noimg'] em::after {
        display: none;
      }
      @media screen and (max-width: 767px) {
        .m-txtInvite {
          margin-bottom: 20px;
          padding-top: 10px;
        }
        .m-txtInvite[data-type='noimg'] {
          margin: 15px 0;
          font-size: 16px;
        }
        .m-txtInvite[data-type='noimg'] em::after {
          display: none;
        }
      }
}


.m-listStep {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.m-listStep li {
    margin: 0 20px 0 0;
    
}
.m-listStep li > * {
    position: relative;
    display: block;
    font-style: inherit;
}
.m-listStep li > *::after {
    width: 200%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    background: #3fb8ec;
    content: "";
}
.m-listStep li > * span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #3fb8ec;
    text-align: center;
    position: relative;
    z-index: 1;
    display: block;
    border: 1px solid #3fb8ec;
    border-radius: 50%;
    background: #fff;
}
.m-listStep li:last-child {
    margin-right: 0;
}
.m-listStep li:last-child > *::after {
    display: none;
}
.m-listStep li.is-current > * span {
    color: #fff;
    background: #3fb8ec;
}
@media screen and (max-width: 767px) {
    .m-listStep {
        padding-top: 15px;
    }
}