.explanation{
  em{
    font-style: normal;
  }
  .m-imgShare {
    margin: -25px;
    position: relative;
    top: -25px;
  }
  @media screen and (max-width: 767px) {
    .m-imgShare {
        margin: -15px;
        top: -15px;
    }
  }

  .m-txtInvite {
    margin: 0 0 20px;
    font-size: 20px;
    line-height: 1;
    text-align: center;
  }

  .m-txtInvite em {
    margin: 10px 0 0;
    font-size: 28px;
    font-weight: normal;
    color: #3FB8EC;
    display: block;
    position: relative;
  }

  .m-txtInvite em::after {
    width: 83px;
    height: 70px;
    margin: 20px auto 0;
    display: block;
    background: url(../../img/common/inc_invite.svg);
    background-size: 83px 70px;
    content: '';
  }

  .m-txtInvite[data-type="noimg"] {
    margin: 25px 0 20px;
    font-size: 16px;
  }

  .m-txtInvite[data-type="noimg"] em::after {
    display: none
  }

  @media screen and (max-width: 767px) {
    .m-txtInvite {
        margin-bottom: 20px;
        padding-top: 10px;
    }
    .m-txtInvite[data-type="noimg"] {
        margin: 15px 0;
        font-size: 16px;
    }
    .m-txtInvite[data-type="noimg"] em::after {
        display: none;
    }
  }
}