<template>
  <div class>
    <form action="#" method="post" class="order-form" @submit.prevent="submitRegestration">
      <main class="l-content" role="main">
        <div class="l-content__inner">
          <div class="l-contentBody">
            <div class="m-hdg1">
              <h1 class="m-hdg1__hdg">ご注文内容の入力</h1>
            </div>
            <ol class="m-listStep">
              <li>
                <em>
                  <span>1</span>
                </em>
              </li>
              <li class="is-current" aria-current="page">
                <span>
                  <span>2</span>
                </span>
              </li>
              <li>
                <span>
                  <span>3</span>
                </span>
              </li>
              <li>
                <span>
                  <span>4</span>
                </span>
              </li>
              <!-- /.m-listStep -->
            </ol>
            <div class="m-hdg2">
              <h2 class="m-hdg2__hdg">お届け先</h2>
            </div>
            <ul class="m-listForm">
              <li>
                <div class="m-frmTextbox">
                  <input
                    type="text"
                    v-model="formData.name"
                    placeholder="氏名"
                    :class=" errors.name.status ? 'is-invalid' : ''"
                    required="required"
                    v-on:change="validateInput( 'name', false, '' )"
                    v-on:input="validateInput( 'name', false, '' )"
                    v-on:blur="validateInput( 'name', formData.name === '', '氏名を入力してください' )"
                  />
                  <p v-if="errors.name.status">{{errors.name.message}}</p>
                </div>
              </li>
              <li>
                <div class="m-frmTextbox">
                  <input
                    type="number"
                    placeholder="郵便番号（例：1501200）"
                    v-model="formData.zipcode"
                    required="required"
                    :class=" errors.zipcode.status ? 'is-invalid' : ''"
                    v-on:change="validateInput( 'zipcode', false, '' )"
                    v-on:input="validateInput( 'zipcode', false, '' )"
                    v-on:blur="validateInput( 'zipcode', formData.zipcode.length !== 7, formData.zipcode === '' ? '郵便番号を入力してください' : '郵便番号が間違っています' )"
                  />
                  <p v-if="errors.zipcode.status">{{errors.zipcode.message}}</p>
                </div>
              </li>
              <li>
                <div class="m-frmSelect">
                  <select
                    v-model="formData.prefecture"
                    required="required"
                    :class="[errors.prefecture.status ? 'is-invalid' : '', formData.prefecture ? 'is-active' : '']"
                    v-on:change="validateInput( 'prefecture', false, '' )"
                    v-on:blur="validateInput( 'prefecture', formData.prefecture === '', '都道府県を選択してください' )"
                  >
                    <option value>都道府県</option>
                    <option
                      :value="pre.value"
                      v-for="(pre, index) in prefecture"
                      :key="index"
                    >{{pre.label}}</option>
                  </select>
                  <p v-if="errors.prefecture.status">{{errors.prefecture.message}}</p>
                </div>
              </li>
              <li>
                <div class="m-frmTextbox">
                  <input
                    type="text"
                    placeholder="市区町村 番地"
                    v-model="formData.address_1"
                    required="required"
                    :class=" errors.address_1.status ? 'is-invalid' : ''"
                    v-on:change="validateInput( 'address_1', false, '' )"
                    v-on:input="validateInput( 'address_1', false, '' )"
                    v-on:blur="validateInput( 'address_1', formData.address_1 === '', '住所を入力してください' )"
                  />
                  <p v-if="errors.address_1.status">{{errors.address_1.message}}</p>
                </div>
              </li>
              <li>
                <div class="m-frmTextbox">
                  <input type="text" placeholder="アパートやマンション名など" v-model="formData.address_2" />
                </div>
              </li>
              <li>
                <div class="m-frmTextbox">
                  <input
                    type="number"
                    placeholder="電話番号"
                    v-model="formData.phone_number"
                    required="required"
                    :class=" errors.phone_number.status ? 'is-invalid' : ''"
                    v-on:change="validateInput( 'phone_number', false, '' )"
                    v-on:input="validateInput( 'phone_number', false, '' )"
                    v-on:blur="validateInput( 'phone_number', formData.phone_number.length < 10, formData.phone_number === '' ? '電話番号をハイフン無しで入力してください' : '電話番号は10桁以上で入力してください' )"
                  />
                  <p v-if="errors.phone_number.status">{{errors.phone_number.message}}</p>
                </div>
              </li>
            </ul>

            <ul class="m-listBtn">
              <li>
                <button type="submit" class="m-btn" :disabled="formDatacheck() || isInProgress">
                  <span>お客様IDを入力</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </main>
    </form>
    <ErrorModule :isActive="isError" :messageArr="errorMessages" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ErrorModule from '~/components/ErrorModal'

export default {
  layout: 'no-menu-header',
  components: {
    ErrorModule
  },
  data() {
    return {
      prefecture: [
        { value: '北海道', label: '北海道' },
        { value: '青森県', label: '青森県' },
        { value: '岩手県', label: '岩手県' },
        { value: '宮城県', label: '宮城県' },
        { value: '秋田県', label: '秋田県' },
        { value: '山形県', label: '山形県' },
        { value: '福島県', label: '福島県' },
        { value: '茨城県', label: '茨城県' },
        { value: '栃木県', label: '栃木県' },
        { value: '群馬県', label: '群馬県' },
        { value: '埼玉県', label: '埼玉県' },
        { value: '千葉県', label: '千葉県' },
        { value: '東京都', label: '東京都' },
        { value: '神奈川県', label: '神奈川県' },
        { value: '新潟県', label: '新潟県' },
        { value: '富山県', label: '富山県' },
        { value: '石川県', label: '石川県' },
        { value: '福井県', label: '福井県' },
        { value: '山梨県', label: '山梨県' },
        { value: '長野県', label: '長野県' },
        { value: '岐阜県', label: '岐阜県' },
        { value: '静岡県', label: '静岡県' },
        { value: '愛知県', label: '愛知県' },
        { value: '三重県', label: '三重県' },
        { value: '滋賀県', label: '滋賀県' },
        { value: '京都府', label: '京都府' },
        { value: '大阪府', label: '大阪府' },
        { value: '兵庫県', label: '兵庫県' },
        { value: '奈良県', label: '奈良県' },
        { value: '和歌山県', label: '和歌山県' },
        { value: '鳥取県', label: '鳥取県' },
        { value: '島根県', label: '島根県' },
        { value: '岡山県', label: '岡山県' },
        { value: '広島県', label: '広島県' },
        { value: '山口県', label: '山口県' },
        { value: '徳島県', label: '徳島県' },
        { value: '香川県', label: '香川県' },
        { value: '愛媛県', label: '愛媛県' },
        { value: '高知県', label: '高知県' },
        { value: '福岡県', label: '福岡県' },
        { value: '佐賀県', label: '佐賀県' },
        { value: '長崎県', label: '長崎県' },
        { value: '熊本県', label: '熊本県' },
        { value: '大分県', label: '大分県' },
        { value: '宮崎県', label: '宮崎県' },
        { value: '鹿児島', label: '鹿児島' },
        { value: '沖縄県', label: '沖縄県' }
      ],
      formData: {
        ...this.regestrationValues()
      },
      errors: {
        name: {
          status: false,
          message: ''
        },
        zipcode: {
          status: false,
          message: ''
        },
        prefecture: {
          status: false,
          message: ''
        },
        address_1: {
          status: false,
          message: ''
        },
        phone_number: {
          status: false,
          message: ''
        }
      }
    }
  },
  beforeMount() {
    if (this.status.lens === false) {
      this.$router.push('/order')
    }
  },
  methods: {
    submitRegestration() {
      this.setAddress(this.formData)
    },
    formDatacheck() {
      const valuesCheck =
        this.formData.name &&
        this.formData.prefecture &&
        this.formData.address_1 &&
        this.formData.zipcode &&
        this.formData.phone_number
          ? false
          : true
      return (
        this.errors.name.status ||
        this.errors.zipcode.status ||
        this.errors.prefecture.status ||
        this.errors.address_1.status ||
        this.errors.phone_number.status ||
        valuesCheck
      )
    },
    validateInput(input, status, message) {
      this.errors[input] = {
        status,
        message
      }
    },
    ...mapActions({
      setAddress: 'order/setAddress'
    }),
    ...mapGetters({
      regestrationValues: 'order/getRegestration'
    })
  },
  computed: {
    isZipCorresct() {
      return this.formData.zipcode.length === 7
    },
    ...mapGetters({
      isInProgress: 'order/isInProgress',
      status: 'order/status',
      errorMessages: 'order/errorMessages',
      isError: 'order/isError'
    })
  },
  watch: {
    'formData.zipcode': function(zipcode) {
      if (zipcode.length === 7) {
        this.$axios.$post('/api/v1/get_address_info', { zipcode }).then((res) => {
          const address =
            res.data.results && res.data.results[0]
              ? res.data.results[0]
              : false
          if (address) {
            this.formData.prefecture = address.address1
            this.formData.address_1 = address.address2 + address.address3
            this.validateInput('prefecture', false, '')
            this.validateInput('address_1', false, '')
          }
        })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.gray13 {
  color: #6d6d6d;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-align: justify;
}
.m-hdg1 {
  border-bottom: 1px solid #ececec;
}
.m-listBtn {
  border-top: 1px solid #ececec;
}
</style>
