<template>
  <div class="">
    <form action="#" method="post" class="order-form" @submit.prevent="submitConfirm">
      <main class="l-content" role="main">
        <div class="l-content__inner">
          <div class="l-contentBody">
            <div class="m-hdg1">
              <h1 class="m-hdg1__hdg">ご注文内容の確認</h1>
            </div>
            <div class="m-gridTrial">
              <div class="m-gridTrial__img">
                <img src="~/assets/img/common/img_item.jpg" alt="" />
                <!-- /.m-gridTrial__img -->
              </div>
              <div class="m-gridTrial__body">
                <div class="m-gridTrial__bodyInner">
                  <p class="m-gridTrial__ttl">
                    <em>LENS 1DAY 30日分</em>初回お試し価格
                  </p>
                  <p class="m-gridTrial__price"><em>500</em>円</p>
                  <p class="m-gridTrial__txt">(送料・税込)</p>
                  <!-- /.m-gridTrial__bodyInner -->
                </div>
                <!-- /.m-gridTrial__body -->
              </div>
              <!-- /.m-gridTrial -->
            </div>
            <hr class="m-line" />
            <div class="m-hdg2">
              <h2 class="m-hdg2__hdg">レンズ度数</h2>
              <!-- /.m-hdg2 -->
            </div>
            <p class="m-txt" >
              <span >右目：{{check_lens()}}</span>
              <br />
              
              <span>左目：{{check_lens_right()}}</span>
            </p>
            <div class="m-hdg2">
              <h2 class="m-hdg2__hdg">お届け先</h2>
              <!-- /.m-hdg2 -->
            </div>
            <p class="m-txtL">
              {{this.regestration.name}}
              <br />
              {{this.regestration.address_1}}
              <br />
              {{this.regestration.address_2}}
              <br />
              {{this.regestration.phone_number}}
            </p>
            <div class="m-hdg2">
              <h2 class="m-hdg2__hdg">お客様ID（メールアドレス）</h2>
              <!-- /.m-hdg2 -->
            </div>
            <p class="m-txtL">{{this.regestration.email}}</p>
            <div class="m-hdg2">
              <h2 class="m-hdg2__hdg">
                招待コードの利用（次回以降の発送から適用
              </h2>
              <!-- /.m-hdg2 -->
            </div>
            <p class="m-txtL">{{this.regestration.invite_code}}</p>
            <div class="m-hdg2">
              <h2 class="m-hdg2__hdg">
                クレジットカード情報
              </h2>
              <!-- /.m-hdg2 -->
            </div>
            <p class="m-txtL token">{{this.creditComp}}{{this.payment.maskedCardNo.slice(-10)}}</p>
            <hr class="m-line" />
            <p class="m-txt font-14" data-align="center">
              ご注文前に必ず
              <br />
              <a href="/agreement" target="_blank" class="m-link">
                利用規約
              </a>
              および
              <a href="/policy" target="_blank" class="m-link">
                個人情報保護方針
              </a>
              をご確認ください。
            </p>
            <ul class="m-listBtn">
              <li>
                <button type="submit" class="m-btn" :disabled="isInProgress">
                  <span>同意して注文を確定する</span>
                </button>
              </li>
              <!-- /.m-listBtn -->
            </ul>
          </div>
        </div>
      </main>
    </form>
    <ErrorModule :isActive="isError" :messageArr="errorMessages" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ErrorModule from '~/components/ErrorModal'
export default {
  layout: 'no-menu-header',
  components: {
    ErrorModule
  },
  data(){
    return{
      formData:{
        lens:[]
      },
    }
  },
  mounted(){
    if ( this.status.temp === false ) {
      this.$router.push('/order');
    }
    this.fetchLenseData()
  },
  computed:{
    ...mapGetters({
      lenseList: 'lens/getLenses',
      regestration:'order/getRegestration',
      payment: 'order/getPayment',
      checkEmail: 'order/getEmail',
      checkReg: 'order/getTemp',
      status: 'order/status',
      errorMessages: 'order/errorMessages',
      isError: 'order/isError',
      isInProgress: 'order/isInProgress',
      creditComp: 'order/creditComp',
  })
},
methods:{
  submitConfirm(){
    this.$router.push('/order/thanks');
  },
  check_lens(){
    let left_lens_id=this.regestration.left_lens_id
    let data = this.formData.lens.find(e => e.value === left_lens_id);
    return data && data.label
  },
  check_lens_right(){
    let right_lens_id=this.regestration.right_lens_id
    let data = this.formData.lens.find(e => e.value === right_lens_id);
    return data && data.label
  },
  ...mapActions({
    fetchLenseData: 'lens/fetchLenseData',
    sendRegestration: 'order/sendRegestration',
    cardValid: 'order/cardValid',
  })
},
watch:{
  regestration(data){
    return this.formData=data
  },
  lenseList(items){
    var lensitems = items.lens.map(item => ({
      label: item.diopter,
      value: item.id
    }))
    this.formData.lens=lensitems
  },
}
}
</script>
<style lang="scss" scoped>
.gray13 {
  color: #6d6d6d;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-align: justify;
}
.font-14 {
  font-size: 14px;
}
em {
  font-style: normal;
}
.token{
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
</style>
