<template>
  <div class>
    <form action="#" method="post" class="order-form" @submit.prevent="submitRegestration">
      <main class="l-content" role="main">
        <div class="l-content__inner">
          <div class="l-contentBody">
            <div class="m-hdg1">
              <h1 class="m-hdg1__hdg">ご注文内容の入力</h1>
            </div>
            <ol class="m-listStep">
              <li>
                <em>
                  <span>1</span>
                </em>
              </li>
              <li>
                <span>
                  <span>2</span>
                </span>
              </li>
              <li class="is-current" aria-current="page">
                <span>
                  <span>3</span>
                </span>
              </li>
              <li>
                <span>
                  <span>4</span>
                </span>
              </li>
              <!-- /.m-listStep -->
            </ol>
            <div class="m-hdg2">
              <h2 class="m-hdg2__hdg">お客様ID</h2>
            </div>
            <p class="m-txt gray13">機種変更時やご注文確認、ご連絡のためにお客様IDの登録が必要です。</p>
            <ul class="m-listForm">
              <li>
                <div class="m-frmTextbox">
                  <input
                    type="text"
                    placeholder="メールアドレス"
                    v-model="formData.email"
                    :class=" errors.email.status ? 'is-invalid' : ''"
                    v-on:change="validateInput( 'email', false, '' )"
                    v-on:input="validateInput( 'email', false, '' )"
                    v-on:blur="validateInput( 'email', formData.email === '', 'メールアドレスを入力してください' )"
                  />
                  <p v-if="errors.email.status">{{errors.email.message}}</p>
                </div>
              </li>
              <li>
                <div class="m-frmTextbox">
                  <input
                    type="password"
                    placeholder="パスワード（半角英数6〜8文字）"
                    v-model="formData.password"
                    :class=" errors.password.status ? 'is-invalid' : ''"
                    v-on:change="validateInput( 'password', false, '' )"
                    v-on:input="validateInput( 'password', false, '' )"
                    v-on:blur="validateInput( 'password', formData.password.length < 6 || formData.password.length > 8, formData.password === '' ? 'パスワードを入力してください' : 'パスワードの長さは6〜8文字にする必要があります' )"
                  />
                  <p v-if="errors.password.status">{{errors.password.message}}</p>
                </div>
              </li>
            </ul>
            <div class="m-hdg2">
              <h2 class="m-hdg2__hdg">招待コード(お持ちの方のみ)</h2>
            </div>
            <ul class="m-listForm">
              <li>
                <div class="m-frmTextbox">
                  <input type="text" placeholder="例：ABC1234" v-model="formData.invite_code" />
                </div>
              </li>
            </ul>

            <ul class="m-listBtn">
              <li>
                <button type="submit" class="m-btn" :disabled="formDatacheck()">
                  <span>クレジットカード情報を入力</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </main>
    </form>
    <ErrorModule :isActive="isError" :messageArr="errorMessages" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ErrorModule from '~/components/ErrorModal'

export default {
  layout: 'no-menu-header',
  components: {
    ErrorModule
  },
  head() {
    return {
      script: [{ src: process.env.paymentUrl }]
    }
  },
  data() {
    return {
      formData: {
        ...this.regestrationValues()
      },
      errors: {
        email: {
          status: false,
          message: ''
        },
        password: {
          status: false,
          message: ''
        }
      }
    }
  },
  mounted() {
    if (this.status.address === false) {
      this.$router.push('/order')
    }
  },
  methods: {
    submitRegestration() {
      this.setUser(this.formData)
    },
    formDatacheck() {
      const valuesCheck =
        this.formData.email && this.formData.password ? false : true
      return (
        valuesCheck || this.errors.email.status || this.errors.password.status
      )
    },
    validateInput(input, status, message) {
      this.errors[input] = {
        status,
        message
      }
    },
    ...mapActions({
      setUser: 'order/setUser'
    }),
    ...mapGetters({
      regestrationValues: 'order/getRegestration'
    })
  },
  computed: {
    ...mapGetters({
      isInProgress: 'order/isInProgress',
      status: 'order/status',
      isError: 'order/isError',
      errorMessages: 'order/errorMessages'
    })
  }
}
</script>
<style lang="scss" scoped>
.gray13 {
  color: #6d6d6d;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-align: justify;
}
.m-hdg1 {
  border-bottom: 1px solid #ececec;
}
.m-listBtn {
  border-top: 1px solid #ececec;
}
</style>
