<template>
  <div class>
    <form action="#" method="post" class="order-form" @submit.prevent="submitRegestration">
      <main class="l-content" role="main">
        <div class="l-content__inner">
          <div class="l-contentBody">
            <div class="m-hdg1">
              <h1 class="m-hdg1__hdg">ご注文内容の入力</h1>
            </div>
            <ol class="m-listStep">
              <li class="is-current" aria-current="page">
                <em>
                  <span>1</span>
                </em>
              </li>
              <li>
                <span>
                  <span>2</span>
                </span>
              </li>
              <li>
                <span>
                  <span>3</span>
                </span>
              </li>
              <li>
                <span>
                  <span>4</span>
                </span>
              </li>
              <!-- /.m-listStep -->
            </ol>

            <div class="m-hdg2">
              <h2 class="m-hdg2__hdg">レンズ度数</h2>
            </div>
            <ul class="m-listForm">
              <li>
                <div class="m-frmSelect">
                  <select
                    v-model="formData.right_lens_id"
                    v-bind:class="[formData.right_lens_id ? 'is-active' : '', '']"
                  >
                    <option value>右目</option>
                    <option
                      v-for="option in lensData.right"
                      v-bind:value="option.value"
                      :key="option.value"
                    >右目 {{ option.label }}</option>
                  </select>
                </div>
              </li>
              <li>
                <div class="m-frmSelect">
                  <select
                    v-model="formData.left_lens_id"
                    v-bind:class="[formData.left_lens_id ? 'is-active' : '', '']"
                  >
                    <option value>左目</option>
                    <option
                      v-for="option in lensData.left"
                      v-bind:value="option.value"
                      :key="option.value"
                    >左目 {{ option.label }}</option>
                  </select>
                </div>
              </li>
            </ul>
            <ul class="m-listBtn">
              <li>
                <button type="submit" class="m-btn" :disabled="formDatacheck()">
                  <span>お届け先を入力</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </main>
    </form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  layout: 'no-menu-header',
  data() {
    return {
      formData: {
        ...this.regestrationValues()
      },
      lensData: {
        right: [],
        left: []
      }
    }
  },
  mounted() {
    this.fetchLenseData()
  },

  methods: {
    submitRegestration() {
      this.setLens(this.formData)
      this.$axios.$get('/api/v1/lens_selected')
    },
    formDatacheck() {
      return this.formData.left_lens_id && this.formData.right_lens_id
        ? false
        : true
    },
    ...mapActions({
      fetchLenseData: 'lens/fetchLenseData',
      setLens: 'order/setLens'
    }),
    ...mapGetters({
      regestrationValues: 'order/getRegestration'
    })
  },
  computed: {
    check_data() {
      if (
        this.check_status == this.check_email &&
        this.check_email == this.check_temp
      ) {
        return true
      } else {
        return false
      }
    },
    ...mapGetters({
      lenseList: 'lens/getLenses'
    })
  },
  watch: {
    lenseList(items) {
      var lensitems = items.lens.map((item) => ({
        label: item.diopter,
        value: item.id
      }))

      this.lensData.left = lensitems
      this.lensData.right = lensitems
    }
  }
}
</script>
<style lang="scss" scoped>
.gray13 {
  color: #6d6d6d;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-align: justify;
}
.m-hdg1 {
  border-bottom: 1px solid #ececec;
}

.m-listBtn {
  border-top: 1px solid #ececec;
}
</style>
