<template>
  <div class>
    <form action="#" method="post" class="order-form" @submit.prevent="submitRegestration">
      <main class="l-content" role="main">
        <div class="l-content__inner">
          <div class="l-contentBody">
            <div class="m-hdg1">
              <h1 class="m-hdg1__hdg">ご注文内容の入力</h1>
            </div>
            <ol class="m-listStep">
              <li>
                <em>
                  <span>1</span>
                </em>
              </li>
              <li>
                <span>
                  <span>2</span>
                </span>
              </li>
              <li>
                <span>
                  <span>3</span>
                </span>
              </li>
              <li class="is-current" aria-current="page">
                <span>
                  <span>4</span>
                </span>
              </li>
              <!-- /.m-listStep -->
            </ol>
            <div class="m-hdg2">
              <h2 class="m-hdg2__hdg">クレジットカード情報</h2>
            </div>
            <ul class="m-listForm">
              <li class="m-listForm__credit">
                <ul class="m-listForm__card">
                  <li>
                    <img src="~/assets/img/common/logo_01.png" width="43" alt="VISA" />
                  </li>
                  <li>
                    <img src="~/assets/img/common/logo_02.png" width="27" alt="VISA" />
                  </li>
                  <li>
                    <img src="~/assets/img/common/logo_03.png" width="20" alt="VISA" />
                  </li>
                  <li>
                    <img src="~/assets/img/common/logo_04.png" width="27" alt="VISA" />
                  </li>
                </ul>
                <label for="formNumber" class="m-frmLabel">カード番号</label>
                <div class="m-frmTextbox">
                  <input
                    type="number"
                    id="formNumber"
                    placeholder="16桁・ハイフンなし"
                    v-model="formData.cardno"
                    :class=" errors.cardno.status ? 'is-invalid' : ''"
                    v-on:change="validateInput( 'cardno', false, '' )"
                    v-on:input="validateInput( 'cardno', false, '' )"
                    v-on:blur="validateInput( 'cardno', formData.cardno === '', 'カード番号を入力してください' )"
                  />
                  <p v-if="errors.cardno.status">{{errors.cardno.message}}</p>
                </div>
              </li>
              <li>
                <label for="formName" class="m-frmLabel">カード名義</label>
                <div class="m-frmTextbox">
                  <input
                    type="text"
                    id="formName"
                    placeholder="HANAKO YAMADA"
                    v-model="formData.holdername"
                    :class=" errors.holdername.status ? 'is-invalid' : ''"
                    v-on:change="validateInput( 'holdername', false, '' )"
                    v-on:input="validateInput( 'holdername', false, '' )"
                    v-on:blur="validateInput( 'holdername', formData.holdername === '', 'カード名義を入力してください' )"
                  />
                  <p v-if="errors.holdername.status">{{errors.holdername.message}}</p>
                </div>
              </li>
              <li>
                <label for="formLimit" class="m-frmLabel">有効期限</label>
                <div class="expiration_date">
                  <div class="m-frmSelect-Wrap">
                    <div class="m-frmSelect">
                      <select
                        v-model="expiryMonth"
                        :class=" [errors.expiryMonth.status ? 'is-invalid' : '',  expiryMonth ? 'is-active' : '']"
                        v-on:blur="validateInput( 'expiryMonth', expiryMonth === '', '有効期限月を入力してください' )"
                      >
                        <option value>月</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                      </select>
                    </div>
                    <p v-if="errors.expiryMonth.status">{{errors.expiryMonth.message}}</p>
                  </div>
                  <div class="m-frmSelect-Wrap">
                    <div class="m-frmSelect">
                      <select
                        v-model="expiryYear"
                        :class=" [errors.expiryYear.status ? 'is-invalid' : '', expiryYear ? 'is-active' : '']"
                        v-on:blur="validateInput( 'expiryYear', expiryYear === '', '有効期限年を入力してください' )"
                      >
                        <option value>年</option>
                        <option v-for="year in yearList" v-bind:value="year" :key="year">{{ year }}</option>
                      </select>
                    </div>
                    <p v-if="errors.expiryYear.status">{{errors.expiryYear.message}}</p>
                  </div>
                </div>

                <!-- <div class="m-frmTextbox">
                  <input type="text" id="formLimit" placeholder="月/年" v-model="formData.expire"/>
                </div>-->
              </li>
              <li>
                <label for="formCode" class="m-frmLabel">セキリュティコード</label>
                <div class="m-frmTextbox">
                  <input
                    type="number"
                    id="formCode"
                    placeholder="123"
                    v-model="formData.securitycode"
                    :class=" errors.securitycode.status ? 'is-invalid' : ''"
                    v-on:change="validateInput( 'securitycode', false, '' )"
                    v-on:input="validateInput( 'securitycode', false, '' )"
                    v-on:blur="validateInput( 'securitycode', formData.securitycode === '', 'セキュリティコードを入力してください' )"
                  />
                  <p v-if="errors.securitycode.status">{{errors.securitycode.message}}</p>
                </div>
              </li>
            </ul>
            <ul class="m-listBtn">
              <li>
                <button type="submit" class="m-btn" :disabled="formDatacheck() || isInProgress">
                  <span>入力内容の確認</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </main>
    </form>
    <ErrorModule :isActive="isError" :messageArr="errorMessages" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import ErrorModule from '~/components/ErrorModal'

window.execPurchase = function(response){
  if (response.resultCode === '000') {
    // window.$nuxt.$store.commit('order/setPayment',response.tokenObject)
    window.$nuxt.$store.dispatch('order/setPayment', response.tokenObject)
    window.$nuxt.$store.dispatch('order/cardValid')
  } else {
    window.$nuxt.$store.commit('order/setInProgress', false)
    window.$nuxt.$store.commit('order/setIsError', true)
    window.$nuxt.$store.commit('order/setErrorMessages', ['Invalid card info.'])
  }
}
export default {
  layout: 'no-menu-header',
  components: {
    ErrorModule
  },
  head() {
    return {
      script: [{ src: process.env.paymentUrl }]
    }
  },
  data() {
    return {
      formData: {
        holdername: '',
        securitycode: '',
        expire: '',
        cardno: ''
      },
      expiryMonth: '',
      expiryYear: '',
      yearList: [],
      errors: {
        holdername: {
          status: false,
          message: ''
        },
        securitycode: {
          status: false,
          message: ''
        },
        cardno: {
          status: false,
          message: ''
        },
        expiryYear: {
          status: false,
          message: ''
        },
        expiryMonth: {
          status: false,
          message: ''
        }
      }
    }
  },
  mounted() {
    if (this.status.user === false) {
      this.$router.push('/order')
    }
    this.years()
  },
  methods: {
    submitRegestration() {
      this.$store.commit('order/setIsError', false)
      this.$store.commit('order/setInProgress', true)
      Multipayment.init(process.env.token)
      Multipayment.getToken(
        {
          cardno: this.formData.cardno,
          expire: this.formData.expire,
          securitycode: this.formData.securitycode,
          holdername: this.formData.holdername
        },
        execPurchase
      )
      this.getCreditComp(this.formData.cardno)
    },
    formDatacheck() {
      const valuesCheck =
        this.formData.holdername &&
        this.formData.securitycode &&
        this.formData.expire &&
        this.formData.cardno
          ? false
          : true
      return (
        valuesCheck ||
        this.errors.holdername.status ||
        this.errors.securitycode.status ||
        this.errors.cardno.status ||
        this.errors.expiryYear.status ||
        this.errors.expiryMonth.status
      )
    },
    years() {
      let currentYear = new Date().getFullYear()
      var yearEnd = currentYear + 10

      var years = []

      while (currentYear < yearEnd + 1) {
        years.push(currentYear++)
      }
      this.yearList = years
    },
    validateInput(input, status, message) {
      this.errors[input] = {
        status,
        message
      }
    },
    ...mapActions({
      getCreditComp: 'order/getCreditComp',
      sendRegestration: 'order/sendRegestration',
    }),
  },
  computed: {
    expiryDate() {
      let expiryMonth = this.expiryMonth
      // let expiryYear = String(this.expiryYear).slice(-2);
      return this.expiryYear + '' + expiryMonth
    },
    ...mapGetters({
      isInProgress: 'order/isInProgress',
      status: 'order/status',
      isError: 'order/isError',
      errorMessages: 'order/errorMessages',
      checkCard: 'order/getCard',
      checkUserInfo: 'order/getUserInfo',
      regestration:'order/getRegestration',
    })
  },
  watch: {
    expiryDate(exp) {
      this.formData.expire = exp
    },
    checkCard(status){
      if ( status ) {
        this.sendRegestration(this.regestration)
      }
    },
    checkUserInfo(status){
      this.checkUser=status
    },
  }
}
</script>
<style lang="scss" scoped>
.gray13 {
  color: #6d6d6d;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-align: justify;
}
.m-hdg1 {
  border-bottom: 1px solid #ececec;
}
.m-listBtn {
  border-top: 1px solid #ececec;
}
.expiration_date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .m-frmSelect-Wrap {
    flex: 49% 0;
  }
}
</style>
