<template>
  <div class="">
    <main class="l-content order-thanks" role="main">
      <div class="l-content__inner">
        <input type="hidden" name="user_id" id="user_id" v-model="this.userId"/>
        <div class="l-contentBody">
          <div class="m-txtComplete" data-type="share">
            <p class="m-txtComplete__txt">
              <em>ご注文ありがとうございました</em>
              <span>
                ご注文内容を記載したメールをお送りしましたのでご確認下さい。
              </span>
              <!-- /.m-txtComplete__txt -->
            </p>
            <!-- /.m-txtComplete -->
          </div>
          <p class="m-txtInvite">さらに、ご友人招待で<em>1ヶ月分無料</em></p>
          <p class="m-txt" data-align="center-left">
            招待コードを送ってご友人をLENSにご招待ください。
            <br class="is-pc" />
            あなたもご友人も1ヶ月分（30日分）の代金が無料になります。
          </p>
          <ul class="m-listNotes" data-align="center">
            <li>
              <span class="m-listNotes__sym">※</span>
              <div class="m-listNotes__txt">
                定期購入サービスの利用開始後に適用となります。
              </div>
            </li>
            <!-- /.m-listNotes -->
          </ul>
          <!-- <ul class="m-listBtn" data-type="share">
            <li>
              <div class="m-listBtn__txt">
                <span>あなたの招待コード</span>
                <span>{{inviteCode.invite_code}}</span>
              </div>
              <button type="button" class="m-btn" data-type="share">
                <span>招待コードをご友人に送る</span>
              </button>
            </li>
          </ul> -->


          <Share :invite_code="inviteCode.invite_code" ></Share> 
          <!-- /.l-contentBody -->
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import Share from '~/components/Share.vue'
import { mapGetters, mapActions } from 'vuex'
export default {
  layout: 'no-menu-header',
  components: {
    Share,    
  },
  mounted(){
    let redirected = false;
    if ( this.status.payment === false && this.status.user === true ) {
      this.$router.push('/order/confirm');
      redirected = true;
    } else if( this.status.user === false ) {
      this.$router.push('/order');
      redirected = true;
    }
    let data={};
    data.email=this.Regestration.email
    data.password=this.Regestration.password
    this.login(data)

    if ( ! redirected ) {
      this.$store.commit( 'order/resetState' )
    }
  },
  methods:{
    ...mapActions({
      login:'login',
      faceInviteCode: 'user/faceInviteCode'
    })
  },
  computed:{
    ...mapGetters({
      Regestration:'order/getRegestration',
      isLoggedIn: 'isLoggedIn',
      inviteCode:'user/inviteCode',
      checkCard: 'order/getCard',
      checkUserInfo: 'order/getUserInfo',
      checkStatus: 'order/getStatus',
      checkEmail: 'order/getEmail',
      checkReg: 'order/getTemp',
      status: 'order/status',
      userId: 'order/userId'
    })
  },
  watch:{
    isLoggedIn(status){
      if(status){
        this.faceInviteCode()
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.m-txtComplete {
  height: 111px;
  margin: -25px -25px 60px;
  font-size: 1.6rem;
  color: #fff;
  line-height: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #a9c5d3;
}
.m-txtComplete em {
  font-weight: normal;
  position: relative;
}
.m-txtComplete em::after {
  width: 16px;
  height: 8px;
  margin: -8px 0 0;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: rotate(-45deg);
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  content: '';
}
.m-txtComplete[data-type="share"] .m-txtComplete__txt {
  margin: 0;
  text-align: center;
}
.m-txtComplete[data-type="share"] .m-txtComplete__txt em {
  font-size: 2rem;
}

.m-txtComplete[data-type="share"] .m-txtComplete__txt em::after {
  display: none;
}
.m-txtComplete[data-type="share"] .m-txtComplete__txt span {
  margin: 10px 0 0;
  font-size: 1.4rem;
  line-height: 1.2;
  display: block;
}
.m-listNotes li {
    padding: 0 0 0 1.2em;
    color: #6D6D6D;
    position: relative
}

.m-listNotes__sym {
    position: absolute;
    left: 0
}

.m-listNotes[data-align="center"] {
    margin-left: auto;
    margin-right: auto;
    display: table
}

@media screen and (max-width: 767px) {
    .m-listNotes[data-align="center"] {
        margin-left: 0
    }
}
ul.m-listNotes {
    margin-top: 25px;
    list-style: none;
    padding: 0;   
}

.m-listBtn {    
    padding: 20px 25px 0;  
}
</style>
