<template>
  <div class="page-wrapper">
    <header-menu type="login" />
    <nuxt />
    <footer-menu />
  </div>
</template>

<script>
import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    HeaderMenu: Header,
    FooterMenu: Footer
  }
}
</script>

<style lang="scss">
.page-wrapper {
  font-family: "Hiragino Kaku Gothic Pro",\30e1\30a4\30ea\30aa,Meiryo,\FF2D\FF33\20\FF30\30B4\30B7\30C3\30AF,"MS PGothic",\004e\006f\0074\006f\0020\0053\0061\006e\0073\0020\004a\0050,sans-serif;
  font-size: 14px;
}
</style>
