<template>
  <div class="page-wrapper">
    <header-menu />
    <nuxt />
    <footer-menu />
  </div>
</template>
<script>
import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    HeaderMenu: Header,
    FooterMenu: Footer
  }
}
</script>
