@mixin more-than--sp(){
	@media only print, screen and (min-width: 500px) {@content;}
}

@mixin less-than--sp(){
	@media only print, screen and (max-width: 499px) {@content;}
}

@mixin more-than--sp2(){
	@media only print, screen and (min-width: 768px) {@content;}
}