<template>
  <section id="sec01" class="other-cont">
    <div class="ttl">利用規約</div>
    <div class="txt-wrap">
      <p class="txt">本規約は、レンズ株式会社（以下「弊社」）が運営する「LENS」にて提供する商品購入サービス（以下「本サービス」）の利用条件並びに弊社と本サービスの利用者（以下「お客様」）との間の権利義務関係を定めております。お客様は、本規約の全文をお読みいただき、内容を十分に理解した上で、本規約に同意いただく必要があります。</p>
      <strong>第１条（本規約）</strong>
      <p class="txt">１．本規約は、弊社と登録お客様との間の権利義務関係を定めることを目的とし、お客様と弊社との間の本サービスの利用に関わる一切の関係に適用されます。
        <br>２．弊社が別途掲載する本サービス利用に関するルールは、本規約の一部を構成するものとします。
        <br>３．本規約の内容と別途定められた本規約外における説明等とが異なる場合には、本規約の規定が優先して適用されるものとします。
      </p>
      <strong>第２条（登録等）</strong>
      <p class="txt">１．本サービスの利用を希望するお客様は、本規約を遵守することを同意し、かつ、弊社の定める一定の情報を提供することにより、登録をすることができます。
        <br>
        <br>２．弊社は、登録されたお客様が以下の各号のいずれかに該当する場合、登録解除又は利用の停止をすることがあり、その理由については一切開示義務を負いません。
        <br>（１）弊社に提供した登録事項の全部又は一部につき虚偽、誤記又は記載漏れがあった場合
        <br>（２）未成年者、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人、保佐人又は補助人の同意等を得ていなかった場合
        <br>（３）反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味します。）である、又は資金提供その他を通じて反社会的勢力等の維持、運営もしくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与を行っていると弊社が判断した場合
        <br>（４）お客様が過去において弊社との契約に違反した者又はその関係者であると弊社が断した場合
        <br>（５）その他、弊社が登録を適当でないと判断した場合
        <br>
        <br>３．お客様は、登録事項その他本サービスの利用を受けるにあたり必要な情報に変更が生じた場合、弊社が定める方法によって遅滞なく登録事項等の変更手続きをするものとします。
        <br>
        <br>４．お客様は、自己の責任において、本サービスに関するパスワード及びＩＤを適切に管理及び保管するものとし、これを第三者に譲渡、名義変更、売買等をしてはならないものとします。お客様によるパスワード又はＩＤの管理が不十分であったり、使用上の過誤、第三者の使用等により生じた損害に関する責任はお客様が負うものとし、弊社は一切の責任は負いません。
      </p>
      <strong>第３条（売買契約）</strong>
      <p class="txt">１．お客様は、本サービスを通じて商品を選定し、必要事項を入力のうえ弊社に対して注文情報を送信することで商品を注文することができ、弊社が注文情報を受領した時に弊社との間において売買契約が成立するものとなります。
        <br>２．弊社は、お客様からの注文を受領した後も、以下の理由によりご注文を取り消すことが出来ます。
        <br>（１）クレジットカード会社による審査の結果、ご利用承認が受けられなかった場合
        <br>（２）クレジット会社による審査の結果、ご利用承認を受けられなかった場合
        <br>（３）お客様の入力した情報に虚偽の事実が認められた場合
        <br>（４）欠品もしくは長期入荷未定商品、又は生産終了の注文を受領した場合
        <br>（５）商品の発送手続き前にお客様からご注文の変更、又は撤回の連絡があった場合
        <br>（６）転売・再販売・その他仕入れ目的として本サービスにて商品を購入しているものと弊社が判断したとき
        <br>（７）その他、特に弊社がご注文の取り消しの必要を認めた場合
        <br>３．商品の危険負担については、弊社から配達業者への引渡し完了をもって、お客様に移転するものとします。
      </p>
      <strong>第４条（支払方法）</strong>
      <p class="txt">お客様は、購入情報の送信し、注文を行う際に、本サービスにおいて表示された代金をクレジットカード決済により支払うものとします。</p>
      <strong>第５条（知的財産権）</strong>
      <p class="txt">本サービス上に表示される内容、及び掲載される商品については著作権等の法律により知的財産権が保護されております。お客様は、弊社の許可を得ずに非商業的かつ個人的な目的以外により使用、複製又はダウンロードを行わないで下さい。</p>
      <strong>第６条（免責及び非保証）</strong>
      <p class="txt">１．弊社は、以下のいずれかに該当する場合には、お客様に事前に通知することなく、本サービスの全部又は一部の提供を停止することができ、この場合にお客様に生じた損害については、一切の責任を負いません。
        <br>（１）本サービスに係るコンピューター、通信回線等が事故により停止した場合
        <br>（２）地震、落雷、火災、風水害、停電、天災地変などの不可抗力により本サービスの運営ができなくなった場合
        <br>（３）その他、弊社が停止又は中断を必要と判断した場合
        <br>２．弊社は迅速な配送ができるように努めておりますが、天災、システムトラブル、その他予期せぬ事態により配送が遅れる事があります。これに関して直接的及び間接的にお客様又は第三者に損害が生じた場合であっても、弊社はいかなる責任も負いません。
        <br>３．本サービスの内容は、お客様に明示の保証も黙示の保証も致しません。例えば、お客様が本サービスにアクセスし、データ、テキスト、画像又は音声を使用し閲覧することによってお客様の端末機器に損害が生じた場合や、お客様の端末機器に影響を与える可能性のあるウィルスが存在していても、これにより生じた損害に対しては責任を負いません。
      </p>
      <strong>第７条（未成年者の利用）</strong>
      <p class="txt">お客様が２０歳未満である場合は、親権者又は後見人の同意がなければ、本サービスにおいて商品の購入をすることはできません。</p>
      <strong>第８条（本サービスの内容の変更等）</strong>
      <p class="txt">１．弊社は、弊社の都合により本サービス内容を変更し、又は提供を終了することができます。
        <br>２．お客様は、弊社所定の方法で弊社に通知することにより、本サービスの利用を停止又は終了させることができます。
      </p>
      <strong>第９条（お客様情報の取り扱い）</strong>
      <p class="txt">弊社によるお客様の利用者情報の取り扱いについては、別途「プライバシーポリシー」の定めによるものとし、お客様は当該「プライバシーポリシー」に従って弊社がお客様の情報を取り扱うことについて同意するものとします。</p>
      <strong>第10条（お客様の責任）</strong>
      <p class="txt">１．お客様は、本サービスを利用して自身が行った一切の行為とその結果について、責任を負うものとします。
        <br>２．お客様は、本サービスの利用に関して弊社に対して損害及び費用(弁護士費用を含みますがこれらに限りません。)を被らせた場合、自己の責任と費用でこれらを賠償し、補償しなければなりません。
        <br>３．お客様は、本サービスの利用に関して第三者に対して損害を与えた場合には、自己の責任と費用でこれらを賠償するものとし、弊社に何らの迷惑をかけてはならず、また弊社に損害を与えてはなりません。
      </p>
      <strong>第11条（本規約等の変更）</strong>
      <p class="txt">弊社は、本規約を変更できるものとします。弊社は、本規約を変更した場合には、お客様に当該変更内容を通知するものとし、当該変更内容の通知後、お客様が本サービスを利用した場合又は1か月内に本サービスの利用を終了手続きを取らなかった場合には、お客様は、本規約の変更に同意したものとみなします。</p>
      <strong>第12条（連絡等）</strong>
      <p class="txt">本サービスに関する問い合わせその他お客様から弊社に対する連絡又は通知、及び本規約の変更に関する通知その他弊社からお客様に対する連絡又は通知は、弊社の定める方法で行うものとします。</p>
      <strong>第13条（利用規約上の地位の譲渡等）</strong>
      <p class="txt">１．お客様は、弊社の書面による事前の承諾なく、利用契約上の地位又は本規約に基づく権利もしくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。
        <br>２．弊社は本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、本規約に基づく権利及び義務並びにお客様の登録事項その他の顧客情報を当該事業譲渡の譲り受け人に譲渡することができるものとし、お客様は、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。
      </p>
      <strong>第14条（準拠法及び管轄裁判所）</strong>
      <p class="txt">１．本規約及び関連する事項の準拠法は日本法とします。
        <br>２．本規約及び関連する事項に起因し、又は関連する一切の紛争については、東京地方裁判所又は東京簡易裁判所を第一審の専属的合意管轄裁判所とします。
        <br>
        <br>制定日　　平成２９年１０月１日
      </p>
    </div>
  </section>    
</template>

<script>
export default {
  layout: 'static'
}
</script>

<style lang="scss" scoped>
.other-cont {
	width: 72%;
	margin: 0 auto 12%;
	padding-top: 14%;
  color: #1a1a1a;
  font-family: 'Yu Gothic',YuGothic,sans-serif;
	.ttl {
		font-size: 3rem;
		margin-bottom: 10%;
		text-align: center;
	}
	.txt-wrap {
		strong {
			font-size: 2.6rem;
			margin: 60px 0 40px;
			font-weight: 100;
      display: block;
		}
		.txt {
			font-size: 1.8rem;
			line-height: 1.8;
		}
	}
	
}
@media only screen and (max-width: 767px) {
	.other-cont {
		width: 89%;
		margin: 0 auto 20%;
		padding-top: 30%;
    
		.ttl {
			font-size: 2.2rem;
			margin-bottom: 10%;
			text-align: center;
		}
		.txt-wrap {
			strong {
				font-size: 2rem;
				margin: 60px 0 40px;
				font-weight: 100;
			}
			.txt {
				font-size: 1.6rem;
				line-height: 1.8;
			}
		}
		
	}
}
</style>
