<template>
    <section id="sec01" class="other-cont">
    <div class="ttl">運営会社</div>
    <table class="table">
      <tbody>
      <tr>
        <th>会社名</th>
        <td>レンズ株式会社</td>
      </tr>
      <tr>
        <th>事業内容</th>
        <td>使い捨てコンタクトレンズ定期配送サービス「LENS」の運営</td>
      </tr>
      <tr>
        <th>代表者</th>
        <td>山岸延好</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>東京都渋谷区渋谷1-8-3 TOC第一ビル6F</td>
      </tr>
      <tr>
        <th>メール</th>
        <td>info@lens.co.jp</td>
      </tr>
      <tr>
        <th>取得免許</th>
        <td>高度管理医療機器等販売許可　29渋保生高第33号</td>
      </tr>
      </tbody>
    </table>
  </section>    
</template>

<script>
export default {
  layout: 'static'
}
</script>

<style lang="scss" scoped>
.other-cont {
	width: 72%;
	margin: 0 auto 12%;
	padding-top: 14%;
	color: #1a1a1a;
	font-family: 'Yu Gothic',YuGothic,sans-serif;
	.ttl {
		font-size: 3rem;
		margin-bottom: 10%;
		text-align: center;
	}
	.txt-wrap {
		strong {
			font-size: 2.6rem;
			margin: 60px 0 40px;
			font-weight: 100;
		}
		.txt {
			font-size: 1.8rem;
			line-height: 1.8;
		}
	}
	.table {
		font-size: 1.6rem;
		text-align: left;
		width: 83%;
		margin: 0 auto;
		tr {
			visibility: visible;
			padding: 22px 0;
			display: block;
			border-bottom: 1px solid #f7f7f7;
			th {
				font-weight: 100;
				width: 32%;
				display: inline-block;
				vertical-align: top;
			}
			td {
				width: 62%;
				display: inline-block;
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	.other-cont {
		width: 89%;
		margin: 0 auto 20%;
		padding-top: 30%;		
		.ttl {
			font-size: 2.2rem;
			margin-bottom: 15%;
			text-align: center;
		}
		.txt-wrap {
			strong {
				font-size: 2rem;
				margin: 12% 0 6%;
				font-weight: 100;
			}
			.txt {
				font-size: 1.6rem;
				line-height: 1.8;
			}
		}
		.table {
			font-size: 1.4rem;
			text-align: left;
			width: 100%;
			margin: 0 auto;
			tr {
				visibility: visible;
				padding: 22px 0 16px;
				display: block;
				border-bottom: 1px solid #f7f7f7;
				th {
					font-weight: 100;
					width: 100%;
					display: inline-block;
					vertical-align: top;
					margin-bottom: 10px;
				}
				td {
					width: 100%;
					display: inline-block;
				}
			}
		}
	}
}
</style>
