<template>
  <div class>
    <form action="dummy" method="post">
      <main class="l-content" role="main">
        <div class="l-content__inner">
          <div class="l-contentBody">
            <div class="m-chart">
              <h1 class="m-chart__ttl">
                <div class="is-skeleton" v-if="isLoading()"></div>
                <div v-if="! isLoading()">{{user.name}}さんのレンズ</div>
                <span class="is-skeleton" v-if="isLoading()" style="height: 16px"></span>
                <span v-if="! isLoading()">次回のお届け日</span>
              </h1>

              <div class="m-chart__el">
                <div class="m-chart__date">
                  <p
                    class="m-chart__dateInner"
                    :class="(isStoped() ? 'is-stop' : '') + ' ' + ( statusText !== '' ? 'is-status' : '' ) + ' ' + ( delivery.delivery_days === 0 ? 'is-today' : '' )"
                  >
                    <span v-if="statusText !== ''">{{statusText}}</span>
                    <em v-if="isStoped() && ! isLoading()">
                      <span>お届け停止中</span>
                    </em>
                    <em v-if="! isStoped() && ! isLoading() && delivery.delivery_days !== 0">
                      <span>{{deliveryDays()}}</span>日後
                    </em>
                    <em v-if="! isStoped() && ! isLoading() && delivery.delivery_days === 0">
                      <span>本日</span>
                    </em>
                    <!-- <time v-if="isLoading()" style="max-width: 150px" /> -->
                    <time
                      v-if="! isStoped() && ! isLoading()"
                      :datetime="delivery.delivery_date"
                    >{{$moment(delivery.delivery_date).format('MMMDo(ddd)')}}</time>
                  </p>
                </div>
                <Chart :percent="percent" :isStop="! showChart() || isLoading()" />
              </div>

              <ul class="m-chart__ctrl">
                <li v-if="isStoped()">
                  <button
                    type="button"
                    class="m-chart__resume js-modal"
                    :disabled="! canStopResum() || isLoading()"
                    @click="updateStatus"
                  >
                    <em>
                      <span>
                        <img src="~assets/img/common/icn_delivery_resume.png" alt />
                      </span>
                    </em>
                    <span>再開する</span>
                  </button>
                </li>
                <li v-if="! isStoped()">
                  <button
                    type="button"
                    class="m-chart__edit js-modal"
                    :disabled="! canChangeDate() || isLoading()"
                    @click="openDate"
                  >
                    <em>
                      <span>
                        <img src="~assets/img/common/icn_delivery_edit.png" alt />
                      </span>
                    </em>
                    <span>お届け日変更</span>
                  </button>
                </li>
                <li v-if="! isStoped()">
                  <button
                    type="button"
                    class="m-chart__stop"
                    @click="updateStatus"
                    :disabled="! canStopResum()  || isLoading()"
                  >
                    <em>
                      <span>
                        <img src="~assets/img/common/icn_delivery_stop.png" alt />
                      </span>
                    </em>
                    <span>一時停止</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </main>
    </form>
    <Calendar
      :date="date"
      v-if="canChangeDate()"
      :isOpen="isDate"
      v-bind:close="closeDate"
      :notAllowedDates="dates"
      v-bind:selectDate="selectDate"
      v-bind:submit="changeDeliveryDate"
    />
  </div>
</template>

<style lang="scss" scoped>
.m-chart {
  margin: 0 auto;
  padding: 20px 0 0;
  display: table;

  em {
    font-style: normal;
  }

  &__ttl {
    margin: 0 0 30px;
    font-size: 2rem;
    line-height: 1;
    text-align: center;

    span {
      margin: 20px 0 0;
      font-size: 1.6rem;
      display: block;
    }
  }

  &__date {
    width: 100%;
    height: 100%;
    line-height: 1;
    text-align: center;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__dateInner {
    width: 50%;
    margin: 0;
    display: table;
    position: relative;
    top: -12px;

    em {
      font-weight: normal;
      display: block;
      font-size: 2.2rem;
      letter-spacing: 0;
      font-style: normal;
      font-family: 'Hiragino Kaku Gothic Pro', \30e1\30a4\30ea\30aa, Meiryo,
        \ff2d\ff33\20\ff30\30b4\30b7\30c3\30af, 'MS PGothic',
        \004e\006f\0074\006f\0020\0053\0061\006e\0073\0020\004a\0050, sans-serif;

      span {
        padding: 0 5px 0 0;
        font-size: 6rem;
        line-height: 1;
        letter-spacing: -0.05em;
        font-family: 'Gothic A1', sans-serif;
        font-weight: 100;
      }
    }

    time {
      margin: 3px 0 0;
      padding: 12px 0 0;
      font-size: 1.6rem;
      color: #6d6d6d;
      display: block;
      border-top: 1px solid #999;
    }

    &.is-status {
      top: 0;

      time {
        margin-left: auto;
        margin-right: auto;
      }

      > span {
        margin: 0 0 12px;
        font-weight: bold;
        color: #3fb8ec;
        display: block;
      }
    }
    &.is-today {
      top: 0;

      em {
        span {
          padding: 0 0 5px;
          font-size: 3.4rem;
          letter-spacing: 0;
          font-family: 'Hiragino Kaku Gothic Pro', \30e1\30a4\30ea\30aa, Meiryo,
            \ff2d\ff33\20\ff30\30b4\30b7\30c3\30af, 'MS PGothic',
            \004e\006f\0074\006f\0020\0053\0061\006e\0073\0020\004a\0050,
            sans-serif;
          display: block;
          position: relative;
        }
      }
    }

    &.is-stop {
      width: 100%;
      top: 0;

      time {
        margin-left: auto;
        margin-right: auto;
      }

      em {
        span {
          padding: 0 0 5px;
          font-size: 3rem;
          letter-spacing: 0;
          font-family: 'Hiragino Kaku Gothic Pro', \30e1\30a4\30ea\30aa, Meiryo,
            \ff2d\ff33\20\ff30\30b4\30b7\30c3\30af, 'MS PGothic',
            \004e\006f\0074\006f\0020\0053\0061\006e\0073\0020\004a\0050,
            sans-serif;
          display: block;
          letter-spacing: -0.05em;
          opacity: 0.6;
          position: relative;
        }
      }
    }
  }

  &__ctrl {
    margin: 25px 0 0 -80px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;

    li {
      padding: 0 0 0 80px;
    }
  }

  &__edit,
  &__stop,
  &__resume {
    border: none;
    border: none;
    background: transparent;

    em {
      width: 60px;
      height: 60px;
      margin: 0 auto 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      position: relative;
      border: 1px solid #a9c5d3;
      border-radius: 50%;
      background: #fff;

      span {
        display: block;

        img {
          display: block;
        }
      }
    }

    > span {
      font-size: 1.3rem;
      line-height: 1;
      display: block;
    }

    &[disabled] {
      pointer-events: none;

      em {
        opacity: 0.6;

        img {
          opacity: 0.4;
        }
      }

      > span {
        opacity: 0.6;
      }
    }
  }

  &__edit {
    img {
      display: block;
      width: 22px;
    }
  }
  &__stop {
    img {
      width: 15px;
    }
  }
  &__resume {
    img {
      width: 16px;
      position: relative;
      left: 2px;
    }

    em {
      border: 1px solid #3fb8ec;
      background: #3fb8ec;
    }
  }

  &__el {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    display: block;
    position: relative;
  }
}
</style>

<script>
import Chart from '~/components/Chart.vue'
import Calendar from '~/components/Calendar.vue'
import { mapGetters, mapActions } from 'vuex'
import { deliveryStatus, orderStatusCode } from '~/utilities/status'

export default {
  layout: 'menu-header',
  // layout: 'no-menu-header',
  components: {
    Chart,
    Calendar
  },
  data() {
    return {
      isDate: false,
      percent: 0,
      date: '',
      statusText: ''
    }
  },
  mounted() {
    this.fetchUser()
    this.fetchDelivery()
    this.fetchDeliveryDates()
    this.fetchOrderStatus()

    if (this.delivery.delivery_days !== undefined) {
      this.calcPerc(this.delivery.delivery_days)
    }

    if (this.delivery.order_status !== undefined) {
      this.setOrderStatusText(this.delivery.order_status)
    }
    if (this.delivery.delivery_date !== undefined) {
      this.setDate(this.delivery.delivery_date)
    }
  },
  methods: {
    openDate() {
      this.isDate = true
    },
    closeDate() {
      this.isDate = false
      this.date = this.delivery.delivery_date
    },
    selectDate(date) {
      this.date = date.toISOString()
    },
    changeDeliveryDate() {
      this.submitDeliveryDate(this.date)
      this.isDate = false
    },
    updateStatus() {
      const status = this.orderStatus === 1 ? 2 : 1
      this.updateOrderStatus(status)
    },
    canChangeDate() {
      return (
        !this.isInProgressDates &&
        (deliveryStatus.POST_COMPLETE === this.delivery.order_status ||
          deliveryStatus.CANCEL === this.delivery.order_status ||
          this.delivery.order_status === null)
      )
    },
    showChart() {
      return (
        !this.isStatusInProgress &&
        !this.isUserInProgress &&
        this.orderStatus === orderStatusCode.SUBSCRIBE
      )
    },
    canStopResum() {
      return (
        !this.isStatusInProgress &&
        (deliveryStatus.POST_COMPLETE === this.delivery.order_status ||
          deliveryStatus.CANCEL === this.delivery.order_status ||
          this.delivery.order_status === null)
      )
    },
    isStoped() {
      return this.orderStatus === orderStatusCode.STOPPED
    },
    isLoading() {
      return (
        this.isUserInProgress ||
        this.isDeliveryInProgress ||
        this.isInProgressDates ||
        this.isStatusInProgress
      )
    },
    calcPerc(next) {
      this.percent = next < 0 ? 1 : 1 - next / 60
    },
    setOrderStatusText(newStatus) {
      if (
        newStatus === deliveryStatus.DELIVERY_RESERVATION ||
        newStatus === deliveryStatus.NEW_ORDER
      ) {
        this.statusText = '発送準備中'
      } else if (
        newStatus === deliveryStatus.DELIVERY_COMPLETE ||
        newStatus === deliveryStatus.PAYMENT_COMPLETE
      ) {
        this.statusText = '配達中'
      } else if (
        newStatus === deliveryStatus.ACTUAL_SALES_ERROR ||
        newStatus === deliveryStatus.AUTH_SALES_ERROR
      ) {
        this.statusText = 'クレジットカードエラー'
      } else {
        this.statusText = ''
      }
    },
    setDate(newDate) {
      this.date = newDate
    },
    deliveryDays() {
      return this.delivery.delivery_days < 0
        ? this.delivery.delivery_days * -1
        : this.delivery.delivery_days
    },
    ...mapActions({
      fetchUser: 'user/fetchUser',
      fetchDelivery: 'delivery/fetchDelivery',
      submitDeliveryDate: 'delivery/submitDeliveryDate',
      fetchDeliveryDates: 'delivery/fetchDeliveryDates',
      fetchOrderStatus: 'order/fetchOrderStatus',
      updateOrderStatus: 'order/updateOrderStatus',
      logout: 'logout',
    })
  },
  computed: {
    ...mapGetters({
      user: 'user/getUser',
      isUserInProgress: 'user/isInProgress',
      isDeliveryInProgress: 'delivery/isInProgress',
      isInProgressDates: 'delivery/isInProgressDates',
      delivery: 'delivery/getDelivery',
      dates: 'delivery/getDates',
      isStatusInProgress: 'order/isInProgress',
      orderStatus: 'order/orderStatus',
      responseStatusCode: 'user/responseStatusCode',
    })
  },
  watch: {
    'delivery.delivery_days': function(to) {
      const next = to ? to : 0

      this.calcPerc(next)
    },
    'delivery.delivery_date': function(delivery_date) {
      this.setDate(delivery_date)
    },
    orderStatus(to, from) {
      if (to === 1 && from === 2) {
        this.fetchUser()
        this.fetchDelivery()
        this.fetchDeliveryDates()
      }
    },
    'delivery.order_status': function(newStatus) {
      this.setOrderStatusText(newStatus)
    },
    'responseStatusCode': function(){
      if (this.responseStatusCode == 401) this.logout(true)
    },
  }
}
</script>