<template>
  <form action="/" method="post" class="js-form" @submit="submitForm">
    <main class="l-content" role="main">
      <div class="l-content__inner">
        <div class="l-contentBody">
          <p class="m-txtComplete" v-if="isLogout">
            <em v-if="isAuth">再ログインしてください</em>
            <em v-else>ログアウトしました</em>
          </p>
          <p>機種変更をされた方、ホーム画面が表示されない方は、初回登録時に入力したメールアドレスとパスワードでログインしてください。</p>
          <ul class="m-listForm">
            <li>
              <div class="m-frmTextbox">
                <input
                  type="text"
                  placeholder="メールアドレス"
                  v-model="formData.email"
                  :disabled="isLoginSend"
                />
              </div>
            </li>
            <li>
              <div class="m-frmTextbox">
                <input
                  type="password"
                  placeholder="パスワード（半角英数6〜8文字）"
                  v-model="formData.password"
                  :disabled="isLoginSend"
                />
              </div>
            </li>
          </ul>

          <ul class="m-listBtn">
            <li>
              <button type="submit" class="m-btn" :disabled="isFormEmpty || isLoginSend">
                <span>ログインする</span>
              </button>
            </li>
          </ul>

          <p class="m-txt" data-align="center">
            <nuxt-link to="/mypage/password_reset" class="m-link">パスワードを忘れた方</nuxt-link>
          </p>
          <ErrorModule :isActive="failedModal" message="ログインに失敗しました" />
        </div>
      </div>
    </main>
  </form>
</template>

<style lang="scss" scoped>
.m-txt {
  a {
    color: #3fb8ec;
  }
}
</style>

<script>
import { mapGetters, mapActions } from 'vuex'
import axios from 'axios'
import ErrorModule from '~/components/ErrorModal'

export default {
  layout: 'no-menu-header',
  components: {
    ErrorModule
  },
  data() {
    return {
      formData: {
        email: '',
        password: ''
      }
    }
  },
  mounted() {
    // this.isLoginFaild = false
    this.$store.commit( 'setLoginFaild', false );
    this.redirect()
  },
  beforeDestroy() {
    this.clearIsLogout()
    this.clearLoginMessage()
  },
  updated() {
    this.redirect()
  },
  methods: {
    submitForm(e) {
      e.preventDefault()
      this.login({ ...this.formData })
    },
    redirect() {
      if (this.isLoggedIn) {
        const to =
          this.$route.query.to !== undefined ? this.$route.query.to : '/home'
        this.$router.push(to)
      }
    },
    ...mapActions(['login', 'clearIsLogout', 'clearLoginMessage'])
  },
  computed: {
    isFormEmpty() {
      return this.formData.email === '' || this.formData.password === ''
    },
    failedModal() {
      if (this.isLoginFaild) {
        return true
      } else {
        return false
      }
    },
    ...mapGetters(['isLoggedIn', 'isLoginSend', 'isLoginFaild', 'isLogout', 'isAuth'])
  }
}
</script>

