<template>
    <section id="sec01" class="other-cont">
    <div class="ttl">プライバシーポリシー</div>
    <div class="txt-wrap">
      <p class="txt">レンズ株式会社（以下「当社」）は、お客様に安心して当サービスをご利用頂くため、以下のとおり個人情報保護方針を定め取組みを徹底することにより、個人情報の保護を推進致します。</p>
      <strong>個人情報とは</strong>
      <p class="txt">当サービスにおける「個人情報」とは、氏名、住所、メールアドレス等の特定の個人を識別できる情報を指し、以下の場合に個人情報を収集します。
        <br>
        <br>・お問い合わせ　メールアドレス、氏名
        <br>・会員登録　パスワード、メールアドレス
        <br>・商品の購入　住所、氏名、電話番号、メールアドレス
      </p>
      <strong>個人情報の利用目的</strong>
      <p class="txt">お客さまからお預かりした個人情報は、当社からのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。</p>
      <strong>個人情報の第三者への開示・提供の禁止</strong>
      <p class="txt">当社は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</p>
      <strong>・お客さまの同意がある場合</strong>
      <p class="txt">・当サービスの提供に必要な業務を委託する業者に対して開示する場合 ・法令に基づき開示することが必要である場合
      </p>
      <strong>個人情報の安全対策</strong>
      <p class="txt">当社は、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。</p>
      <strong>ご本人の照会</strong>
      <p class="txt">お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</p>
      <strong>法令、規範の遵守と見直し</strong>
      <p class="txt">当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
        <br>
        <br>レンズ株式会社 info@lens.co.jp
      </p>
    </div>
  </section>    
</template>

<script>
export default {
  layout: 'static'
}
</script>

<style lang="scss" scoped>
.other-cont {
	width: 72%;
	margin: 0 auto 12%;
	padding-top: 14%;
  color: #1a1a1a;
  font-family: 'Yu Gothic',YuGothic,sans-serif;
	.ttl {
		font-size: 3rem;
		margin-bottom: 10%;
		text-align: center;
	}
	.txt-wrap {
		strong {
			font-size: 2.6rem;
			margin: 60px 0 40px;
			font-weight: 100;
      display: block;
		}
		.txt {
			font-size: 1.8rem;
			line-height: 1.8;
		}
	}
	
}
@media only screen and (max-width: 767px) {
	.other-cont {
		width: 89%;
		margin: 0 auto 20%;
		padding-top: 30%;
    
		.ttl {
			font-size: 2.2rem;
			margin-bottom: 10%;
			text-align: center;
		}
		.txt-wrap {
			strong {
				font-size: 2rem;
				margin: 60px 0 40px;
				font-weight: 100;
			}
			.txt {
				font-size: 1.6rem;
				line-height: 1.8;
			}
		}
		
	}
}
</style>
